[Desktop Entry]
Version=0.1
Type=Application
Exec=/app/bin/mpris-timer
Name=MPRIS Timer
Icon=preferences-system-time-symbolic
Terminal=false
Categories=Utility;
