[Desktop Entry]
Version=1.5
Type=Application
Name=Bazecor
Comment=Configurator for Dygma Raise and Defy keyboards
Exec=Bazecor %U
Icon=com.dygma.bazecor
Categories=Utility;
Terminal=false
Keywords=keyboard;configuration;firmware;dygma;raise;defy;keymap;layout;macro;ergonomic;customization;
URL=http://dygma.com