[Desktop Entry]
Version=1.0
Type=Application

Name=GCLC
Comment=Visualize and explore geometry
Categories=Education;Science;Math;Graphics;VectorGraphics;

Icon=io.github.ADG_Foundation.gclc
Exec=gclc-gui
Terminal=false
