[Desktop Entry]
Version=1.5
Name=godotGem
GenericName=Game Controller Client
Comment="Use a controller from this computer to play games on a windows PC"
Keywords="remote;game;dualshock;xbox360;joystick;gamepad"
Type=Application
Categories=Game;
Icon=com.github.iSlammedMyKindle.godotGem
Exec=godotGemClient.x86_64
