[Desktop Entry]
Name=GitHub Desktop (Linux)
Exec=github-desktop %u
Terminal=false
Type=Application
Icon=io.github.Hamzamn19.GitHubDesktop
StartupWMClass=GitHub Desktop
MimeType=x-scheme-handler/x-github-desktop-auth;x-scheme-handler/x-github-client;x-scheme-handler/x-github-desktop-dev-auth;
Categories=Development;RevisionControl;
