[Desktop Entry]
Name=Midori Browser
Comment=A privacy-focused browser by Astian
GenericName=Web Browser
Exec=launch-script.sh %u
Icon=org.astian.midori
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupWMClass=midori
Categories=Network;WebBrowser;
StartupNotify=true
Terminal=false
Keywords=Internet;WWW;Browser;Web;Explorer;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=Open a New Window
Exec=launch-script.sh %u

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=launch-script.sh --private-window %u
