[Desktop Entry]
Type=Application
Name=CloudStream
Exec=cloudstream.sh --uri %u
Comment=Frontend for Lot's of Movies Sources (unofficial port)
X-Purism-FormFactor=Workstation;Mobile;
StartupNotify=true
Icon=com.lagradost.cloudstream3
