# 
# Copyright 2026 CeruleanDerpo
# 
# SPDX-License-Identifier: GPL-2.0-or-later
# 

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Follow Flathub's rules for the manifest
# https://docs.flathub.org/docs/for-app-authors/requirements#json-manifest-style
[*.json]
indent_size = 4
indent_style = tab
end_of_line = lf
charset = utf-8
insert_final_newline = true
