# Created by https://www.toptal.com/developers/gitignore/api/flatpak
# Edit at https://www.toptal.com/developers/gitignore?templates=flatpak

### Flatpak ###
.flatpak-builder
build
build-dir
builddir
repo

.vscode

# End of https://www.toptal.com/developers/gitignore/api/flatpak
