[submodule "flatpak-builder-tools"]
	path = flatpak-builder-tools
	url = https://github.com/flatpak/flatpak-builder-tools.git
[submodule "ruffle"]
	path = ruffle
	url = https://github.com/ruffle-rs/ruffle.git
