# File created using '.gitignore Generator' for Visual Studio Code: https://bit.ly/vscode-gig

# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,flatpak
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,flatpak

### Flatpak ###
.flatpak-builder
build
build-dir
repo

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
!.vscode/*.code-snippets

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,flatpak

# Custom rules (everything added below won't be overriden by 'Generate .gitignore File' if you use 'Update' option)

