repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v4.4.0'
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-added-large-files
    - id: check-yaml
      args:
        - "--allow-multiple-documents"
    - id: check-xml
    - id: pretty-format-json
      args:
        - "--autofix"
