[Desktop Entry]
Name=Eclipse 4DIAC IDE
Exec=/app/4diac-ide/4diac-ide
Type=Application
Categories=GTK;Development;
Terminal=false
Keywords=4diac;iot
Icon=org.eclipse.iot.fourdiac.Ide

