[Desktop Entry]
Name=Trae
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=trae %F
Icon=ai.trae.Trae
Type=Application
StartupNotify=false
StartupWMClass=Trae
Categories=TextEditor;Development;IDE;
MimeType=application/x-trae-workspace;
Actions=new-empty-window;
Keywords=trae;

[Desktop Action new-empty-window]
Name=New Empty Window
Name[cs]=Nové prázdné okno
Name[de]=Neues leeres Fenster
Name[es]=Nueva ventana vacía
Name[fr]=Nouvelle fenêtre vide
Name[it]=Nuova finestra vuota
Name[ja]=新しい空のウィンドウ
Name[ko]=새 빈 창
Name[ru]=Новое пустое окно
Name[zh_CN]=新建空窗口
Name[zh_TW]=開新空視窗
Exec=trae --new-window %F
Icon=ai.trae.Trae
