[Desktop Entry]
Name=Trae - URL Handler
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=trae --open-url %U
Icon=ai.trae.Trae
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/trae;
Keywords=trae;
