[Desktop Entry]
Name=Antares
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=antares
StartupWMClass=Antares
Comment=A modern, fast and productivity driven SQL client with a focus in UX.
Categories=Development;
