[Desktop Entry]
Name=Fluxer
Comment=A chat app that puts you first
Exec=app.fluxer.Fluxer
Terminal=false
Type=Application
Icon=app.fluxer.Fluxer
Categories=Network;InstantMessaging
StartupWMClass=Fluxer
