[Desktop Entry]
Version=1.0
Name=OpenBubbles
Comment=OpenBubbles client for Linux
Exec=bluebubbles
Icon=app.openbubbles.OpenBubbles
Terminal=false
Type=Application
Categories=Network;InstantMessaging;Chat;
StartupWMClass=openbubbles
