[Desktop Entry]
Name=Restorm
Exec=restorm %U
Terminal=false
Type=Application
Icon=app.restorm.Restorm
StartupWMClass=restorm
GenericName=API Testing Environment
Comment=Local-first environment to test APIs end to end — client and server
Categories=Development;Network;
Keywords=REST;API;HTTP;GraphQL;gRPC;WebSocket;
MimeType=application/x-restorm;
Actions=new;

[Desktop Action new]
Name=New
Name[cs]=Nový
Name[da]=Ny
Name[de]=Neu
Name[el]=Νέο
Name[es]=Nuevo
Name[fi]=Uusi
Name[fr]=Nouveau
Name[hr]=Novo
Name[hu]=Új
Name[id]=Baru
Name[it]=Nuovo
Name[ja]=新規作成
Name[ko]=새로 만들기
Name[nb]=Ny
Name[nl]=Nieuw
Name[pl]=Nowy
Name[pt]=Novo
Name[ro]=Nou
Name[sq]=I ri
Name[sr]=Novo
Name[sv]=Ny
Name[tr]=Yeni
Name[uk]=Створити
Name[vi]=Mới
Name[zh_CN]=新建
Name[zh_TW]=新增
Icon=document-new
Exec=restorm --new
