[Desktop Entry]
Name=Crexga
Comment=No-code gamified experience creator for Indulge Me platform
Comment[es]=Creador de experiencias gamificadas no-code para la plataforma Indulge Me
Comment[pt]=Criador de experiências gamificadas no-code para a plataforma Indulge Me
Exec=crexga
Icon=app.indulgeme.crexga
Terminal=false
Type=Application
Categories=Development;
