[Desktop Entry]
Name=Fluxer
Comment=A chat app that puts you first
Exec=fluxer --no-sandbox
Terminal=false
Type=Application
Icon=app.fluxer.Fluxer
Categories=Network;InstantMessaging
StartupWMClass=Fluxer
