[Desktop Entry]
Name=Legcord
Exec=startlegcord
Terminal=false
Type=Application
Icon=app.legcord.Legcord
Categories=Network;InstantMessaging
StartupWMClass=Legcord
Keywords=Discord;WebCord;
