[Desktop Entry]
Name=Midterm
Comment=A free note-taking app
GenericName=Note-taking
Exec=midterm %F
Icon=app.midterm.MidtermDesktop
Type=Application
Categories=Education
Terminal=false
StartupWMClass=Midterm
Keywords=midterm;exam;flashcards;note-taking;
