[Desktop Entry]
Name=Glide Browser
GenericName=Web Browser
Exec=launch-script.sh %u
Icon=app.glide_browser.glide
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupWMClass=glide
Categories=Network;WebBrowser;
StartupNotify=true
Terminal=false
X-MultipleArgs=false
Keywords=web;browser;internet;
Actions=new-window;new-private-window;profile-manager-window;

[Desktop Action new-window]
Name=Open a New Window
Exec=launch-script --new-window %u

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=launch-script --private-window %u

[Desktop Action profile-manager-window]
Name=Open the Profile Manager
Exec=launch-script --ProfileManager
