[Desktop Entry]
Type=Application
Name=CineRename
Comment=Rename and organize movies, TV shows, anime, and subtitles.
Exec=cinerename
Icon=app.cinerename.CineRename
Terminal=false
Categories=AudioVideo;Video;
StartupWMClass=cinerename
