[Desktop Entry]
Version=1.0
Name=BlueBubbles
Comment=BlueBubbles client for Linux
Exec=bluebubbles
Icon=app.bluebubbles.BlueBubbles
Terminal=false
Type=Application
Categories=Utility
StartupWMClass=bluebubbles
