[Desktop Entry]
Name=Tuxguitar
GenericName=TuxGuitar is a free and open-source tablature editor.
Exec=tuxguitar
Terminal=false
Type=Application
Icon=ar.com.tuxguitar.TuxGuitar
Categories=Audio;
Keywords=tuxguitar;guitar;music;
