[Desktop Entry]
Version=1.0
Type=Application
Name=AstroMenace
Comment=Hardcore 3D space shooter with spaceship upgrade possibilities
Terminal=false
Exec=astromenace
Icon=astromenace
Categories=Game;ActionGame;
