[Desktop Entry]
Name=Vintage Story
Name[de]=Vintage Story
GenericName=Sandbox Game
GenericName[de]=Sandbox Spiel
Exec=vintagestory
Terminal=false
Type=Application
StartupNotify=false
Categories=Game;
Icon=at.vintagestory.VintageStory
