[Desktop Entry]
Name=Bereia Versículos
Comment=Leitor bíblico automático com anotações.
Exec=bereiaverse
Icon=br.com.irse.verse
Terminal=false
Type=Application
Categories=Education;Utility;
