[Desktop Entry]
Type=Application
Name=IRPF 2023
GenericName=Imposto de Renda Pessoa Física 2023
Comment=Programa de Declaração de Imposto sobre a Renda da Pessoa Física
Icon=br.gov.fazenda.receita.irpf2023
Exec=irpf2023
Categories=Network;
Keywords=dirpf;imposto;irpf;receitanet;
