[Desktop Entry]
Name=Delta Chat
Comment=Delta.chat
Exec=/app/bin/run.sh
Icon=chat.delta.desktop.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
StartupWMClass=delta
