[Desktop Entry]
Name=Gratonite
Comment=Talk, play, hang out
GenericName=Internet Messenger
Exec=chat.gratonite.Desktop %U
Icon=chat.gratonite.Desktop
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
MimeType=x-scheme-handler/gratonite;
StartupWMClass=Gratonite
Keywords=chat;messaging;voice;video;community;
