[Desktop Entry]
Name=Tandem
Exec=tandem %U
Terminal=false
Type=Application
Icon=chat.tandem.Client.png
StartupWMClass=Tandem
Comment=A virtual office for distributed teams
MimeType=x-scheme-handler/tandem;
Categories=InstantMessaging;
