[Desktop Entry]
Name=Trae CN - URL Handler
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=trae-cn --open-url %U
Icon=cn.trae.Trae
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/trae-cn;
Keywords=trae-cn;
