[Desktop Entry]
Name=Headset
Comment=Discover and collect music on YouTube
GenericName=Music Player
Exec=headset %U
Icon=co.headsetapp.heaset
Type=Application
StartupNotify=true
Categories=Audio;AudioVideo;Player;Music;

Name[en_US]=co.headsetapp.headset.desktop
