[Desktop Entry]
Encoding=UTF-8
Name=Xbox Cloud Gaming
Comment=Stream games using the Xbox Cloud Gaming service
Type=Application
Exec=start-xbox-cloud-gaming-electron
Icon=codes.marzeq.xbox-cloud-gaming-electron
StartupWMClass=xbox-cloud-gaming-electron
Categories=Game;
Keywords=Game;Streaming;Xbox;Xcloud;
