[Desktop Entry]
Name=Messenger
Comment=Desktop client for Facebook Messenger
Exec=run.sh %U
Icon=com.facebook.messenger.desktop
Type=Application
Terminal=false
Categories=Network;InstantMessaging;Chat;
Keywords=messenger;facebook;chat;
StartupWMClass=Messenger
MimeType=x-scheme-handler/messenger;
