[Desktop Entry]
Name=Microsoft Teams for Linux
Comment=Unofficial client for Microsoft Teams for Linux
Exec=teams-for-linux %U
Terminal=false
Type=Application
Icon=teams-for-linux.png
StartupWMClass=teams-for-linux
MimeType=application/sip;
Categories=Chat;Network;Office;
