[Desktop Entry]
Name=Termius
Exec=termius %U
Terminal=false
Type=Application
Icon=com.termius.Termius
StartupWMClass=Termius
Comment=Desktop SSH Client
MimeType=x-scheme-handler/termius;
Categories=Utility;
