[Desktop Entry]
Name=Lunacy
GenericName=Lunacy Graphic Editor
Exec=lunacy %u
Icon=com.icons8.Lunacy
Type=Application
Terminal=false
Categories=Graphics;2DGraphics;VectorGraphics;
MimeType=x-scheme-handler/i8-lunacy;
StartupWMClass=Lunacy
X-Desktop-File-Install-Version=0.26
