[Desktop Entry]
Name=PokeMMO
GenericName=PokeMMO
Type=Application
Comment=PokeMMO is a free to play mmorpg, come join a growing community as you level up and discover new monsters.
Icon=com.pokemmo.PokeMMO
Exec=pokemmo.sh
Terminal=false
StartupNotify=false
Keywords=pokemmo;pokemon
Categories=Game