# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2021 Claudio Cambra <claudio.cambra@gmail.com>
[Desktop Entry]
Name=BrickBuster
GenericName=A brick-busting game
Comment=A brick-breaker game, fun and addictive!
Exec=com.claudiocambra.brickbuster
Terminal=false
Icon=com.claudiocambra.brickbuster
Type=Application
Categories=Games;
