[Desktop Entry]
Type=Application
Name=Lupyd
Exec=com.lupyd.client %u
Icon=com.lupyd.client
Categories=Network;Chat;InstantMessaging;Utility;
Terminal=false
StartupWMClass=Lupyd
