[Desktop Entry]
Name=itopia Remote Desktop Client
GenericName=RDP Viewer
Comment=A Client for Remote Desktop Protocol (RDP) Servers
Exec="itopia Remote Desktop Client" %u
Icon=com.itopia.client
Terminal=false
Type=Application
MimeType=application/x-rdp;x-scheme-handler/irdp
Categories=Network;RemoteAccess;Qt;KDE;X-itopia
StartupNotify=false
