[Desktop Entry]
Name=GameCake
Comment=GameCake is a cross platform build of Lua(JIT) with embedded libraries.
Exec="/app/bin/gamecake -lfun"
Terminal=false
Type=Application
Icon=com.wetgenes.gamecake
Categories=Game;Development;
