[Desktop Entry]
Version=1.0
Type=Application

Name=Tibia
Comment=Become a part of Tibia, the MMORPG classic that has been expanded for more than 25 years.
Categories=Game;RolePlaying;

Icon=com.tibia.Tibia
Exec=tibia-wrapper
Terminal=false

StartupNotify=false
X-PrefersNonDefaultGPU=true
