[Desktop Entry]
Name=Penpot Desktop
Comment=Design Freedom for Teams
Type=Application
Icon=com.sudovanilla.penpot-desktop
Exec=flatpak run com.sudovanilla.penpot-desktop
Categories=Graphics;
Keywords=penpot;
