[Desktop Entry]
Categories=Development;
Comment=File and Directory Compare
Encoding=UTF-8
Exec=smartsynchronize
Icon=com.syntevo.SmartSynchronize
Keywords=compare;merge
Name=SmartSynchronize
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=syntevo-smartsynchronize
