[Desktop Entry]
Name=SphereView
GenericName=360° images viewer
Comment=Viewer for equirectangular photospheres and panoramas.
Exec=sphereview
Icon=com.github.dynobo.sphereview
Terminal=false
Type=Application
Categories=Graphics;Viewer;
Keywords=Photosphere;Panorama;SphereView;
