[Desktop Entry]
Version=1.0
Type=Application

Name=FurMark
Comment=OpenGL and Vulkan GPU stress test

Categories=System
Keywords=FurMark;OpenGL;Vulkan;GPU;Stress;Benchmark;Test;


Icon=com.geeks3d.furmark
Exec=FurMark_GUI
Terminal=false
