[Desktop Entry]
Name=OneWare Studio
Comment=IDE for Electronics Development
TryExec=oneware
GenericName=Development Environment
Exec=oneware %f
Icon=com.one_ware.OneWare
Type=Application
Terminal=false
StartupNotify=true
Categories=Development;IDE;Electronics;
MimeType=text/x-vhdl;text/x-verilog;text/plain;application/x-vcd;
