[Desktop Entry]
Type=Application
Name=Beeper
Comment=Beeper: Unified Messenger
Icon=com.beeper.Beeper
Exec=/app/bin/startbeeper %U
StartupWMClass=Beeper
Categories=Network;InstantMessaging;Chat;VideoConference;
Keywords=Matrix;matrix.org;chat;communications;talk;beeper;vector;
