[Desktop Entry]
Name=Photopea
Type=Application
Description=Alternative for Adobe Photoshop users
Description[cs]=Alternativa pro uživatele Adobe Photoshopu
Terminal=false
Icon=com.github.vikdevelop.photopea_app
Exec=photopea
Category=Graphics
