[Desktop Entry]
Name=Zatikon
Comment=Turn-based strategy game
Exec=zatikon
Icon=com.chroniclogic.Zatikon
StartupNotify=true
Terminal=false
Type=Application
Categories=Game;StrategyGame;
Keywords=strategy;simulation;board;tiles;multiplayer;chess;zatikon;turn-based
