#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=OpenFOAM
Comment=Open-source computational fluid dynamics (CFD) toolkit
Exec=openfoam
Terminal=true
Categories=Science;Engineering;Education;
Keywords=CFD;simulation;engineering;fluids;OpenFOAM;
