[Desktop Entry]
Name=Flarq
GenericName=Fast Light Automatic Repeat reQuest
Comment=Fast Light Automatic Repeat reQuest
Exec=flatpak run --command=flarq com.w1hkj.fldigi
Icon=com.w1hkj.fldigi.flarq
Terminal=false
Type=Application
Categories=Network;HamRadio;
