[Desktop Entry]
Name=Adobe Flash Player Standalone
Comment=Player for using content created on the Adobe Flash platform
Type=Application
MimeType=application/x-shockwave-flash;
Categories=Audio;AudioVideo;Graphics;GTK;Player;Video;Viewer;
Keywords=flash;shockwave;swf;player;adobe;
Exec=flashplayer %f
Terminal=false
Icon=com.adobe.Flash-Player-Projector
