[Desktop Entry]
Type=Application
Name=Spatial Integration
Exec=si %f
Icon=com.fourwindstechnology.SI.png
Categories=Math;Science;Graphics;3DGraphics;

