[Desktop Entry]
Categories=Development;RevisionControl;
Comment=Git-Client
Encoding=UTF-8
Exec=smartgit
Icon=com.syntevo.SmartGit
Keywords=git
Name=SmartGit
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=syntevo-smartgit
