[Desktop Entry]
Name=Unity Hub
Comment=Imagine, build and succeed with Unity
Exec=start-unityhub
Terminal=false
Type=Application
Icon=com.unity.UnityHub
MimeType=x-scheme-handler/unityhub;
Categories=Development;
