[Desktop Entry]
Type=Application
Version=1.0
Name=Mindustry
Comment=Mindustry: A sandbox tower-defense game. 
Icon=com.github.Anuken.Mindustry
Terminal=false
Exec=mindustry.sh
