[Desktop Entry]
Name=Stream Overlay
GenericName=Stream Overlay
Comment=SylphWeed's Stream Overlay
Keywords=sylphweed;stream;overlay
Exec=run.sh %f
Icon=com.hperrin.StreamOverlay
Version=1.0
Type=Application
Terminal=false
Categories=Utility
MimeType=application/x-stream-overlay-config
