[Desktop Entry]
Name=rmac assembler
Exec=rmac
Icon=com.is_slick.rmac
Type=Application
Comment=rmac is a macro assembler targetting the 680x0, 6502, Jaguar JRISCs (codenamed Tom and Jerry), Jaguar Object Processor, and the DSP 56001 CPUs. It can output to standard aout object file format, ELF, or directly to Atari TOS PRG format or absolute binary.
Categories=Development;
