[Desktop Entry]
Name=PowerISO
Comment=CD/DVD/Blu-Ray processing tool
Type=Application
Categories=Utility;DiscBurning;AudioVideo;
Exec=poweriso-gui %F
MimeType=application/x-cd-image;application/x-cue;application/x-raw-disk-image;application/x-apple-diskimage;application/x-ms-wim;application/vnd.rar;
Terminal=false
Icon=com.poweriso.PowerISO
Keywords=iso;nrg;cue;bin;blu-ray;cd;dvd;audio;mp3;flac;vorbis;
