[Desktop Entry]
Name=Fldigi
GenericName=Amateur Radio Digital Modem
Comment=Amateur Radio Sound Card Communications
Exec=flarq
Icon=com.w1hkj.flarq
Terminal=false
Type=Application
Categories=Network;HamRadio;
