[Desktop Entry]
Name=Waveform 13
GenericName=Waveform
Comment=Audio and MIDI workstation
Exec=waveform %U
Icon=com.tracktion.Waveform13
Terminal=false
Type=Application
Categories=AudioVideo;AudioVideoEditing;
MimeType=application/x-waveform13-project;
Version=1.0
StartupWMClass=Waveform