[Desktop Entry]
Type=Application
Name=Grist
Comment=A modern relational spreadsheet
Exec=grist-desktop %f
Icon=com.getgrist.grist
Terminal=false
Categories=Office;Database;Spreadsheet;
MimeType=text/csv;text/tab-separated-values;text/plain;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-excel.sheet.macroEnabled.12;
