[Desktop Entry]
Name=Vade Mecum Shelf
GenericName=Collection of utilities
Comment=A collection of utilities wrapped into one single app, built with Electron
Exec=VadeMecumShelf %U
TryExec=VadeMecumShelf
Icon=com.github.tonton_pixel.VadeMecumShelf
Type=Application
Terminal=false
StartupNotify=true
StartupWMClass=vade mecum shelf
Categories=Utility;Education;Documentation;Science;
Keywords=Utilities;Utility;Utils;Util;Conversion;Convert;Definitions;Chemical;Zodiac;CIDR;Color;Departments;Clock;HTTP;IETF;ISO;Jabberwocky;JavaScript;JSON;LaTeX;Mathematics;Math;States;Prefectures;Numerals;Scratchpad;Trigonometric;Formulas;
