[Desktop Entry]
Version=1.0
Type=Application
Name=P3X Onenote
Icon=com.corifeus.onenote
Exec=/app/bin/run.sh %u
Comment=https://www.patrikx3.com
Categories=Office;
Terminal=false
