[Desktop Entry]
Type=Application
Version=1.0
Name=LetraMania
Comment=El pasatiempo de siempre. Donde quieras.
Exec=LETRAMANIA.x86_64
Icon=com.sillydevs.letramania
Terminal=false
Categories=Game;ArcadeGame;
Keywords=game;arcade;indie;word;puzzle;