[Desktop Entry]
Name=Quran Everywhere
Comment=A clean, focused, bilingual Quran reader with English translation
Exec=quran_everywhere
Icon=com.quraneverywhere.QuranEverywhere
Terminal=false
Type=Application
Categories=Education;
Keywords=Quran;Islam;Arabic;English;Translation;Bilingual;
StartupWMClass=com.quraneverywhere.quran_everywhere
