[Desktop Entry]
Encoding=UTF-8
Name=n-Track Studio
GenericName=Music recording, production, mixing
Categories=Audio;Recorder;Music;AudioVideo;AudioVideoEditing;
Comment=A recording studio on your PC
Type=Application
Terminal=false
Exec=n-TrackStudio
Icon=com.ntrack.n-track
StartupWMClass=com.ntrack.n-track.desktop
StartupNotify=false
MimeType=application/x-ntrack-project;audio/aac;audio/ac3;audio/mp4;audio/x-ms-wma;video/mpeg;audio/flac;audio/x-flac;audio/mpeg;application/ogg;audio/x-vorbis+ogg;
