# Credits to github/nickavem for the file, Doomsdayrs for edits

[Desktop Entry]
Categories=Game;
Exec=atlauncher.sh
Icon=com.atlauncher.ATLauncher
Keywords=game;Minecraft;
Name=ATLauncher
Comment=A launcher for Minecraft which integrates multiple different modpacks to allow you to download and install modpacks easily and quickly.
StartupNotify=true
Type=Application
