[Desktop Entry]
Type=Application
Version=1.0
Name=CurseForge
GenericName=Mod Manager
Comment=Discover, install, and manage mods and modpacks for your favorite games
Exec=curseforge %u
Icon=com.overwolf.curseforge
Terminal=false
Categories=Game;
Keywords=mods;modpacks;minecraft;curseforge;addons;modding;
StartupNotify=true
StartupWMClass=CurseForge
MimeType=x-scheme-handler/curseforge;x-scheme-handler/cfauth;x-scheme-handler/curseforge-checkout;
