[Desktop Entry]
Name=NetXMS
Exec=netxms-client.sh
Terminal=false
Icon=com.netxms.NetXMSClient
Type=Application
Categories=Network;Monitor;
StartupWMClass=netxms-client
