[Desktop Entry]
Name=ModernDeck
Exec=start-moderndeck %U
Terminal=false
Type=Application
Icon=com.dangeredwolf.ModernDeck
Comment=A more powerful Twitter experience
Categories=Network;