[Desktop Entry]
Version=1.0
Type=Application
Name=Orange
Exec=/app/bin/run_orange.sh
Icon=com.orangedatamining.unofficial
Categories=Science;DataVisualization;
Terminal=false
