[Desktop Entry]
Type=Application
Name=Azure Storage Explorer
GenericName=Azure storage management
Comment=Manage Azure cloud storage resources from your desktop
Icon=com.microsoft.AzureStorageExplorer
Exec=
Terminal=false
Categories=Utility;Development;FileTools;Database;FileTransfer;
Keywords=Cloud;Online;
StartupWMClass=StorageExplorer