[Desktop Entry]
# Version=4.7.2.0
Encoding=UTF-8
Name=ToDesk
Comment=ToDesk Remote Control Software
Comment[zh_CN]=ToDesk远程控制软件
Exec=todesk.sh
Icon=com.todesk.ToDesk
GenericName=ToDesk Remote Control Software
GenericName[zh_CN]=ToDesk远程控制软件
Keywords=todesk
Categories=Network;
Type=Application
Terminal=false
