[Desktop Entry]
Type=Application
Name=Response
Comment=Test your web page's Responsiveness
GenericName=Response
Exec=com.github.rajsolai.response %U
Icon=com.github.rajsolai.response
Terminal=false
Categories=Development;
Keywords=Response;
