[Desktop Entry]
Name=CMCC Cloud PC
Name[zh]=移动云电脑
Exec=cmcc-jtydn %U
Terminal=false
Type=Application
Icon=com.komect.soho.cloudpc
Categories=Utility;
Comment=移动云电脑桌面客户端
