[Desktop Entry]
Name=SideQuest
Comment=Easily sideload apps onto your standalone VR headset
TryExec=sidequest
Exec=sidequest %u
Type=Application
Icon=com.sidequestvr.SideQuest
Categories=Development;Game;HardwareSettings
StartupWMClass=SideQuest
MimeType=x-scheme-handler/sidequest;
