[Desktop Entry]
Version=1.0
Name=TeleSculptor
GenericName=Aerial Photogrammetry
Comment=Photogrammetry designed with a focus on aerial video
Exec=TeleSculptor %U
Terminal=false
Type=Application
Icon=com.github.Kitware.TeleSculptor
Categories=Qt;Science;DataVisualization;

