[Desktop Entry]
Categories=Development;
Exec=run.sh
Icon=com.hostbuf.FinalShell
Name=FinalShell
Terminal=false
Type=Application
Categories=Development;Network
Comment=A SSH tool
