[Desktop Entry]
Version=1.0
Name=Pinball
Comment=Begins a game of 3-D Pinball.
Exec=pinball
StartupNotify=true
Terminal=false
Icon=com.github.k4zmu2a.spacecadetpinball
Type=Application
Categories=Game;ArcadeGame;
