[Desktop Entry]
Name=Longbridge Pro
Exec=longbridgepro %U
Terminal=false
Type=Application
Icon=com.longportapp.LongbridgePro
StartupWMClass=Longbridge Pro
Categories=Office;
