[Desktop Entry]
Type=Application
Version=1.5
Name=SimulIDE
Comment=Electronic Circuit Simulator Software
Exec=
Icon=com.simulide.simulide
Terminal=false
Categories=Qt;Development;Electronics;Education;Science;X-EDA;
