[Desktop Entry]
Name=TradingView
Exec=tradingview %U
Terminal=false
Type=Application
Icon=com.tradingview.tradingview
StartupWMClass=TradingView
Comment=Experience extra power, extra speed and extra flexibility, all with the same UX you know and love.
MimeType=x-scheme-handler/tradingview;
Categories=Finance;Office;
