[Desktop Entry]
Name=Simplenote
Exec=simplenote %U
Terminal=false
Type=Application
Icon=com.simplenote.Simplenote
StartupWMClass=Simplenote
Comment=Simplenote is an easy way to keep notes, lists, ideas and more. Your notes stay in sync with all your devices for free.
GenericName=Note Taking Application
StartupNotify=true
Categories=Utility;
MimeType=x-scheme-handler/simplenote;
