[Desktop Entry]
Categories=Development;IDE;
Exec=idea
GenericName=Capable and Ergonomic IDE for the Java Virtual Machine
Icon=com.jetbrains.IntelliJ-IDEA-Ultimate
Keywords=development;idea;intellij;java;
Name=IntelliJ IDEA
StartupNotify=true
StartupWMClass=jetbrains-idea-iu
Terminal=false
Type=Application
