[Desktop Entry]
Type=Application
Version=1.1
Name=E-book viewer
Icon=com.calibre_ebook.calibre.ebook_viewer
TryExec=ebook-viewer
Exec=ebook-viewer %f
Terminal=false
Categories=Graphics;Viewer;