[Desktop Entry]
Type=Application
Name=RAGSUITE
Comment=No-code AI platform
Exec=ragsuite
Icon=com.felamity.RAGSUITE
Terminal=false
Categories=Utility;Development;
StartupNotify=true
