[Desktop Entry]
Version=1.0
Type=Application
Name=ScanTailor Advanced
Comment=An interactive post-processing tool for scanned pages.
Exec=scantailor %u
Icon=com.github._4lex4.ScanTailor-Advanced
Categories=Graphics;
