[Desktop Entry]
Name=Blastem
Comment=Mega Drive/Genesis Emulator
Exec=blastem %f
Icon=com.retrodev.blastem
Terminal=false
StartupNotify=false
Type=Application
Categories=Game;Emulator;
MimeType=application/x-genesis-rom;application/x-sms-rom;
Keywords=emulator;sega;genesis;master;system;sms;
