[Desktop Entry]
Name=PdfJumbler
GenericName=PDF page rearrange editor
Comment=PdfJumbler is a simple tool to rearrange, merge, delete, and rotate pages from PDF files
Exec=pdfjumbler %F
Icon=com.github.mgropp.PdfJumbler
Terminal=false
Type=Application
MimeType=application/pdf;
Categories=Development;Office;
Keywords=pdf;pdf-editor;
StartupNotify=false
