[Desktop Entry]
Type=Application
Version=1.1
Name=don't take it personally, babe, it just ain't your story
Exec="don't take it personally, babe.sh"
Icon=com.scoutshonour.dtipbijays
Categories=Game;AdventureGame
