[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Glyphtracer
GenericName=Font creator
Comment=Create fonts from images of characters
TryExec=glyphtracer
Exec=glyphtracer
Terminal=false
Type=Application
Icon=com.github.jpakkane.glyphtracer
#MimeType=
StartupNotify=true
Categories=Qt;Graphics;2DGraphics;VectorGraphics;RasterGraphics;
