[Desktop Entry]
Type=Application
Name=markview
GenericName=Markdown Viewer
Comment=Minimal, modern markdown viewer
Exec=markview %F
Icon=com.canarybuilds.Markview
Terminal=false
Categories=Utility;TextEditor;GTK;
MimeType=text/markdown;text/x-markdown;
Keywords=markdown;md;viewer;notes;
StartupNotify=true
