[Desktop Entry]
Name=jdAppdataEdit
Terminal=false
Type=Application
Icon=com.gitlab.JakobDev.jdAppdataEdit
Exec=jdappdataedit
Comment=A graphical Program to create and edit Appdata files
Comment[de]=Ein grafisches Programm zum erstellen und bearbeiten von Appdata Dateien
Categories=Development;
