[Desktop Entry]
Name=SnekStudio
GenericName=VTuber Software
Comment=Open-source VTuber software
Exec=/app/bin/snekstudio-runner %U
Icon=com.snekstudio.Snekstudio
Terminal=false
Type=Application
Categories=Video;AudioVideo;
StartupNotify=true
StartupWMClass=SnekStudio