[Desktop Entry]
Type=Application
Version=0.0.4
Name=Shijima-Qt
Comment=Shimeji desktop pet runner
Exec=shijima-qt
Icon=com.pixelomer.ShijimaQt
Terminal=false
Categories=Game
