[Desktop Entry]
Categories=Chat;Office;
Comment=钉钉桌面版
Exec=dingtalk %U
GenericName=dingtalk
Icon=com.alibabainc.DingTalk
Keywords=dingtalk;
MimeType=x-scheme-handler/dingtalk;x-scheme-handler/dingtalk_std_ind;
Name=钉钉
Type=Application
