[Desktop Entry]
Type=Application
Name=AloxBook
Comment=Personal Bookkeeping Application
Exec=AloxBook %f
Icon=com.aloxbook.AloxBook
Categories=Office;Finance;
MimeType=application/x-aloxbook;
Terminal=false
StartupNotify=false
