[Desktop Entry]
Name=Steam Link
Comment=Stream games from another computer with Steam
Exec=/app/bin/steamlink %u
Icon=com.valvesoftware.steamlink
Terminal=false
Type=Application
Categories=Game;Network;RemoteAccess;
MimeType=x-scheme-handler/steamlink;
Keywords=Games
