[Desktop Entry]
Name=Sweet Home 3D
Comment=Interior design application
Type=Application
Categories=Graphics;3DGraphics;Engineering;
Exec=/app/bin/SweetHome3D %F
MimeType=application/x-sweet-home-3d;
Terminal=false
Icon=com.sweethome3d.Sweethome3d
Keywords=interior;design;sweet;home;flat;apartment;plan;floor;furniture;decoration;CAD;furniture;
