[Desktop Entry]
Type=Application
Name=Permaplans
GenericName=Garden & Permaculture Planner
Comment=Design and manage useful, biodiverse gardens with permaculture principles
Exec=Permaplans
Icon=com.permaplans.Permaplans
Terminal=false
Categories=Education;Science;Utility;
Keywords=garden;permaculture;planning;plants;biodiversity;permakultur;
StartupNotify=true
