[Desktop Entry]
Type=Application
Name=Al Quran Multilingual Pro
Exec=quran
Icon=com.jino.quran.app
Terminal=false
Categories=Utility;Education;Spirituality;
Keywords=Quran;Islam;Religion;
StartupNotify=true
