[Desktop Entry]
Name=Synology Note Station Client
Comment=Synology Note Station Client for Desktop
Exec="launch.sh"
Terminal=false
Type=Application
Icon=com.synology.synology-note-station
