[Desktop Entry]
Type=Application
Name=Maxint
Icon=com.maxint.maxint
Exec=maxint %U
Categories=Office;Finance;Economy;
Keywords=Bank;Finance;Messenger;Social;
GenericName=Money Management App
X-Purism-FormFactor=Workstation;Mobile;
MimeType=x-scheme-handler/com.maxint.maxint;