[Desktop Entry]
Name=VSCodium
Comment=Code Editing. Redefined.
GenericName=Text Editor
Exec=codium --no-sandbox --unity-launch --reuse-window %F
Icon=com.vscodium.codium
Type=Application
StartupNotify=true
StartupWMClass=VSCodium
Categories=Utility;TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;
Actions=new-empty-window;
Keywords=vscode;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=codium --no-sandbox --new-window %F
Icon=com.vscodium.codium
