[Desktop Entry]
Name=QBZ
Exec=qbz %u
Type=Application
Icon=com.blitzfc.qbz
Categories=Audio;Music;Player;
Terminal=false
StartupWMClass=QBZ
MimeType=x-scheme-handler/qbz;
