[Desktop Entry]
Type=Application
Name=Birth of the Empires
Comment=A turn-based 4X strategy game
Keywords=BotE;
Exec=bote.sh
Icon=com.blotunga.bote
Terminal=false
Categories=Game;StrategyGame;
