[Desktop Entry]
Name=Passky
GenericName=Password Manager
Comment=Passky is a simple, modern, lightweight, open-source and secure password manager.
Keywords=passky;password;manager
Exec=run.sh
Icon=com.rabbit_company.passky
Version=1.0
Type=Application
Terminal=false
Categories=Utility