[Desktop Entry]
Version=1.0
Type=Application

Name=tidal-hifi
GenericName=tidal-hifi
Comment=The web version of listen.tidal.com running in electron with hifi support thanks to widevine.
Categories=Network;GTK;

Icon=com.mastermindzh.tidal-hifi
Exec=run.sh
Terminal=false 
StartupWMClass=tidal-hifi
X-PulseAudio-Properties=media.role=music
