[Desktop Entry]
Name=XerahS
Comment=Cross-platform screen capture and sharing tool
GenericName=Screen Capture
Exec=xerahs %U
Icon=com.xerahs.XerahS
Terminal=false
Type=Application
Categories=Utility;Graphics;GTK;
Keywords=screenshot;screen;capture;share;upload;
StartupWMClass=xerahs
X-GNOME-UsesNotifications=true
