[Desktop Entry]
Name=This Note
GenericName=Note taking
Comment=Private, offline-only notes with encryption
Exec=this_note
Icon=com.bolwarratechnologies.this_note
Type=Application
Categories=Utility;TextEditor;
Keywords=notes;note;private;encrypted;offline;journal;privacy;writing;
StartupNotify=true
