[Desktop Entry]
Version=1.0
Type=Application

Name=Alexandria
Comment=A minimalistic eBook reader
Icon=alexandria
Exec=alexandria
Terminal=false
Categories=Game;FileTools;
Keywords=reader;office;ebook;epub;comicbook;comic
