[Desktop Entry]
Name=IntelliJ IDEA Community Edition
GenericName=IntelliJ IDEA Community Edition
Exec=intellij-desktop
Terminal=false
Icon=com.jetbrains.Intellij-Community
Type=Application
Categories=Development;
X-Desktop-File-Install-Version=0.21
StartupWMClass=jetbrains-idea-ce