[Desktop Entry]
Type=Application
Terminal=false
Name=Time Tracker
Comment=Time Tracker
Keywords=timetracker;
Exec=/app/bin/app.sh
Icon=com.empesol.timetracker
Categories=Utility;
StartupWMClass=com-empesol-timetracker-MainKt
