[Desktop Entry]
Exec=run.sh
Icon=com.apipost.apipost
Name=apipost
Terminal=false
Type=Application
Categories=Development;Network
Comment=Apipost = Postman + Swagger + Mock + Jmeter 后端、前端、测试，同时在线协作，内容实时同步
