[Desktop Entry]
Name=Hytale Launcher
Comment=Official launcher for Hytale
Exec=launcher
Icon=com.hypixel.HytaleLauncher
Terminal=false
Type=Application
Categories=Game;
Keywords=hytale;game;launcher;hypixel;
