[Desktop Entry]
Name=Terminus
Comment=Desktop SSH Client
Type=Application
Categories=Application
Exec=/app/opt/Termius/termius-app
Terminal=false
Icon=com.termius.termius
