[Desktop Entry]
Name=OA Player
Comment=Premium Glassmorphic Music Player
Exec=oa-player-wrapper
Icon=com.softwalk.oaplayer
Terminal=false
Type=Application
Categories=AudioVideo;Player;Audio;Music;
StartupWMClass=oa-player