[Desktop Entry]
Categories=Settings;PackageManager;
Exec=toolbox-app
GenericName=Manage your tools the easy way
Icon=com.jetbrains.toolbox-app
Keywords=development;install;jetbrains;jetbrains-tools;management;toolbox;tools;update;
MimeType=x-scheme-handler/jetbrains;
Name=JetBrains Toolbox
StartupNotify=true
StartupWMClass=jetbrains-toolbox
Terminal=false
Type=Application
