[Desktop Entry]
Categories=Utility;TextEditor;
Encoding=UTF-8
Name=010 Editor
GenericName=A text and hex edtior
Type=Application
Exec=010editor
Icon=com.sweetscape.ZeroOneZeroEditor

