[Desktop Entry]
Name=Covely
Comment=The offline-first personal finance OS.
Exec=covely
Icon=com.ourcrmonline.covely
Terminal=false
Type=Application
Categories=Office;Utility;
StartupNotify=true
StartupWMClass=com.ourcrmonline.covely
