[Desktop Entry]
Name=VPN Hizb
Exec=vpn-hizb
Icon=com.hizb.vpn-hizb
Type=Application
Categories=Network;Utility;
Comment=Public VPN for Everyone
Terminal=false
StartupWMClass=vpn-hizb
