[Desktop Entry]
Name=Gryt Chat
Comment=Real-time voice chat
Exec=gryt-chat %U
Icon=com.gryt.Chat
Terminal=false
Type=Application
Categories=Network;Chat;InstantMessaging;
MimeType=x-scheme-handler/gryt;
StartupWMClass=Gryt Chat
Keywords=voice;chat;voip;webrtc;
