[Desktop Entry]
Name=HermesTV
Comment=IPTV Player — Canlı TV, Film ve Dizi
Exec=hermestv
Icon=com.iptv.iptv_player
Terminal=false
Type=Application
Categories=AudioVideo;Video;TV;Player;
Keywords=iptv;tv;stream;player;
