[Desktop Entry]
Categories=Development;IDE;
Exec=rider-desktop
GenericName=Fast & powerful, cross platform .NET IDE
Icon=com.jetbrains.Rider
Keywords=development;
Name=Rider
StartupNotify=true
StartupWMClass=rider-desktop
Terminal=false
Type=Application