[Desktop Entry]
Version=1.0
Type=Application
Name=JagexLauncher
GenericName=JagexLauncher
Comment=Jagex Launcher
Icon=com.jagex.Launcher
Terminal=false
Exec=jagex-run
Categories=Game;
X-Flatpak-Tags=proprietary;
X-Flatpak=com.jagex.Launcher
