[Desktop Entry]
Name=HexoEditor
GenericName=Markdown Editor
Comment=A markdown editor for Hexo
Exec=HexoEditor %U
TryExec=HexoEditor
Icon=com.github.zhuzhuyule.HexoEditor
Type=Application
Terminal=false
StartupNotify=true
StartupWMClass=hexoeditor
Categories=Utility;TextEditor;
Keywords=Markdown;Text;Editor;Write;
MimeType=text/plain;text/markdown;text/x-markdown;
