[Desktop Entry]
Version=1.0
Type=Application
Name=PhpStorm
Icon=com.jetbrains.PhpStorm
Exec=phpstorm %f
Comment=Lightning-smart PHP IDE
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-phpstorm
