[Desktop Entry]
Name=Circus Linux
Comment=Clowns are trying to pop balloons to score points!
Exec=circuslinux
Icon= com.newbreedsoftware.circuslinux
Terminal=false
Type=Application
Categories=Game;
