[Desktop Entry]
Name=VictumPOS
GenericName=Terminal POS
Comment=Terminal POS de escritorio
Exec=victumpos %U
Terminal=false
Type=Application
Icon=com.victum.pos
StartupWMClass=VictumPOS
StartupNotify=true
Categories=Office;
X-Flatpak=com.victum.pos
