[Desktop Entry]
Type=Application
Name=Lix
Comment=An action-puzzle game inspired by Lemmings
Exec=lix
Icon=com.lixgame.Lix
Categories=Game;ActionGame;
Keywords=game;lemmings;
