[Desktop Entry]
Name=typeshadow
GenericName=Text Writing Tool
Comment=Practice writing with Arabic (RTL) and English (LTR)
Exec=typeshadow
Icon=com.hossam.typeshadow
Terminal=false
Type=Application
Categories=Utility;Education;
StartupNotify=true
