[Desktop Entry]
Type=Application
Name=GpgFrontend
Exec=GpgFrontend
Icon=com.bktus.gpgfrontend
Comment=An OpenPGP Crypto Tool
Terminal=false
Categories=Utility;