[Desktop Entry]
Name=Sioyek
GenericName=PDF Viewer for research papers
Comment=Sioyek is a PDF viewer designed for reading research papers and technical books
Exec=sioyek
Icon=com.github.ahrm.sioyek
Terminal=false
Type=Application
Keywords=pdf;viewer;research;
Categories=Office;Viewer;
MimeType=application/pdf;
StartupNotify=false
