[Desktop Entry]

Name=ThinkOrSwim
Comment=ThinkOrSwim Desktop
Exec=thinkorswim
Type=Application
Icon=com.tdameritrade.ThinkOrSwim
Categories=Office;Finance;
