[Desktop Entry]
Type=Application
Version=1.1
Name=calibre
GenericName=E-book library
Icon=com.calibre_ebook.calibre.gui
TryExec=calibre
Exec=calibre %F
Terminal=false
Categories=Office;