[Desktop Entry]
Version=1.0
Type=Application
Name=All-in-One Toolkit v2
Comment=A comprehensive toolkit application
Icon=com.tcs.allinonetoolkitv2
Exec=allinonetoolkitv2
Terminal=false
Categories=Utility;Development;
Keywords=toolkit;utility;
StartupWMClass=allinonetoolkitv2
StartupNotify=true