[Desktop Entry]
Name=Delta Chat
Comment=Delta.chat
Exec=/app/bin/delta
Icon=com.delta.desktop.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Network;Application;
StartupWMClass=delta
