[Desktop Entry]
Name=BYOD
GenericName=Guitar Distortion
Comment=Guitar Distortion effect
Type=Application
Exec=BYOD
Terminal=false
Categories=Audio;
Icon=com.chowdsp.BYOD
StartupWMClass=BYOD