[Desktop Entry]
Name=Blue Jeans
Comment=Blue Jeans Video Conferencing tool
Exec=bluejeans %U
Terminal=false
Type=Application
Icon=com.bluejeans.BlueJeans
Categories=Network;VideoConference;
MimeType=x-scheme-handler/bjn;
