[Desktop Entry]
Type=Application
Name=Update ControllerBuddy-Profiles
Icon=text-x-script
Exec=/app/bin/update-profiles.sh
Terminal=true
Categories=Game
