[Desktop Entry]
Version=2.0.7
Type=Application

Name=mos. Launcher
Comment=Used for developing with the Mobilitysuite.
Categories=Development;IDE;

Icon=de.fabrik19.mos.Launcher
Exec=mos-launcher
Terminal=false
