[Desktop Entry]
Name=VoIP Phone
Name[de]=VoIP Telefon
Comment=Call your contacts
Comment[de]=Ruf Deine Kontakte an
X-KDE-ServiceTypes=Plasma/Runner
Type=Service
Icon=de.gonicus.gonnect
X-KDE-ServiceTypes=Plasma/Runner
X-KDE-PluginInfo-Author=GONICUS Gmbh
X-KDE-PluginInfo-Email=info@gonicus.de
X-KDE-PluginInfo-Name=GOnnect
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=DBus
X-Plasma-DBusRunner-Service=de.gonicus.gonnect
X-Plasma-DBusRunner-Path=/de/gonicus/gonnect/SearchProvider
X-Plasma-Request-Actions-Once=true
X-Plasma-Runner-Min-Letter-Count=3
