[Desktop Entry]
Encoding=UTF-8
Name=Renew
Name[de]=Renew
Comment=Reference Net Workshop
Comment[de]=Referenznetzeditor und -simulator
Categories=Development;IDE;VectorGraphics;Graphics;2DGraphics;Java;
Exec=loadrenew %F
Icon=de.renew.Renew.renew
MimeType=application/x-renew;application/x-renew-net;application/x-renew-drawing;application/x-renew-interactiondiagram;application/x-renew-autosave;application/x-renew-lola;application/x-renew-state;application/pnml+xml;application/x-renew-sns;
Terminal=true
Type=Application
