[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Gaia Sky
Comment=Gaia Sky 3D Universe software
Exec=gaiasky
Icon=de.uni_heidelberg.zah.GaiaSky.svg
Terminal=false
Categories=Science;Education;
