[Desktop Entry]
Type=Application
Name=DeepQt
Comment= Harness the power of the DeepL API.
GenericName=Computer Aided Translation
Icon=io.github.voxelcubes.deepqt
Exec=deepqt
Terminal=false
Categories=Utility
