[Desktop Entry]
Name=ZenFile
Comment=A modern, GPU-accelerated cross-platform file manager
Exec=file-manager
Icon=dev.zenthralabs.zenfile
Terminal=false
Type=Application
Categories=System;FileTools;FileManager;Utility;
Keywords=file;manager;explorer;directory;zenthra;
StartupNotify=true
