[Desktop Entry]
Name=paths
Exec=paths3
Icon=dev.louiscouture.path
Terminal=false
Type=Application
Categories=Utility;
Keywords=GTK;
StartupNotify=true
DBusActivatable=true
