[Desktop Entry]
Type=Application
Name=Deezer
GenericName=Online music streaming service
Comment=Listen and download all your favorite music
StartupNotify=true
Icon=dev.aunetx.deezer
TryExec=run.sh
Exec=run.sh %U
Terminal=false
MimeType=x-scheme-handler/deezer;
Categories=Audio;Music;Player;AudioVideo;
Keywords=Music;Player;Streaming;Online;
StartupWMClass=Deezer
X-GNOME-UsesNotifications=true