[Desktop Entry]
Name=Scraterpreterc
Exec=dev.paullee.scraterpreter.Scrapec
Type=Application
Icon=dev.paullee.scraterpreter.Scrapec.png
Terminal=true
Categories=ConsoleOnly;Utility;Construction;
