[Desktop Entry]
Categories=Development;
Comment=Spin up dev environments in any infra
Exec=sh.loft.devpod
Icon=sh.loft.devpod
Name=sh.loft.devpod
Terminal=false
Type=Application
X-Desktop-File-Install-Version=0.26
