[Desktop Entry]
Name=Edconv
Comment=An intuitive FFmpeg front-end for converting movies, shows and music
Comment[pt_BR]=Uma interface intuitiva para FFmpeg para converter filmes, séries e músicas
Exec=edconv
Icon=/app/share/icons/hicolor/256x256/apps/io.github.edneyosf.edconv.png
Terminal=false
Type=Application
Categories=AudioVideo;Utility;
StartupWMClass=edneyosf-edconv-MainKt