[Desktop Entry]
Name=Protégé
GenericName=Ontology Editor
Exec=protege %u
Icon=edu.stanford.protege.ProtegeDesktop
Type=Application
MimeType=application/rdf+xml;application/xml;application/ld+json;text/turtle;
Categories=Office;
