[Desktop Entry]
Version=1.0
Type=Application

Name=sm64coopdx
Comment=Super Mario 64 Coop Deluxe
Categories=Game

Icon=com.sm64coopdx.sm64coopdx
Exec=sm64coopdx
StartupWMClass=sm64coopdx
Terminal=false
