[Desktop Entry]
Name=WallpaperDownloader
GenericName=Wallpaper Downloader
Comment=Download, manage and change your wallpapers automatically from the Internet
Comment[es]=Gestiona y descarga automáticamente fondos de pantalla desde Internet
Comment[pt_BR]=Gerencia e baixa automaticamente papéis de parede da Internet
Keywords=wallpaper;gallery;internet;download;changer;picture;desktop;image
Exec=es.estoes.wallpaperDownloader.sh
Icon=es.estoes.wallpaperDownloader
Terminal=false
Type=Application
Categories=Utility;
