[Desktop Entry]
Name=Easy6502
Exec=eu.jumplink.Easy6502
Icon=eu.jumplink.Easy6502
Terminal=false
Type=Application
Categories=Development;Education;
StartupNotify=true
