[Desktop Entry]
Type=Application
Name=Eudic
Name[zh_CN]=欧路词典
Name[zh_TW]=欧路词典
Exec=eudic %F
Icon=com.eusoft.eudic
Comment=EUSOFT
Comment[zh_CN]=欧路软件
Comment[zh_TW]=欧路软件
Terminal=false
Categories=Dictionary;Education;
