[Desktop Entry]
Type=Application
Name=Reckoner
Exec=finance.reckoner.app
Terminal=false
StartupNotify=true
Icon=finance.reckoner.app
Categories=Office;Finance;