[Desktop Entry]
Type=Application
Name=Qccrypt
Comment=QT based graphical frontend for ccrypt tool
Icon=fr.free.Qccrypt
Exec=qccrypt %U
Categories=Qt;KDE;Utility;X-KDE-Utilities-File;
Terminal=false
MimeType=application/x-cpt;
