[Desktop Entry]
Type=Application
Name=PyTouhou
GenericName=PyTouhou
Comment=Libre reimplementation of the Touhou 6 engine in Python
Comment[de]=Freie Python-Implementierung der Touhou 6-Engine
Comment[es]=Una reimplementación libre del motor de juego de Touhou 6 en Python
Comment[fr]=Réimplementation libre du moteur de Touhou 6 en Python
Comment[fi]=Python-kielinen vapaa toteutus Touhou 6:n moottorista
Comment[it]=Libera implementazione del motore Touhou 6, in Python
Comment[pt]=Implementação livre do motor de jogo Touhou 6 em Python
Icon=fr.linkmauve.PyTouhou
Exec=/usr/bin/pytouhou
Categories=Game;ArcadeGame;
