[Desktop Entry]
Name=Cosmic-Comics
Icon=fr.nytuo.cosmiccomics
Encoding=UTF-8
Type=Application
Terminal=false
Categories=Utility;Literature;Viewer
Exec=start-cosmiccomics.sh %U
