[Desktop Entry]
Name=rpnx
GenericName=RPN calculator language
Comment=CLI RPN calculator language with arbitrary‑precision arithmetic
Exec=rpnx
Terminal=true
Type=Application
Keywords=Calculator;
Icon=fr.rubet.rpnx
Categories=Science;Calculator;
StartupNotify=false
X-Desktop-File-Install-Version=0.26
