[Desktop Entry]
Name=RPMLauncher
Comment=A multi-functional Minecraft Launcher power by The RPMTW Team,Made with Flutter and Dart.
Icon=ga.rpmtw.rpmlauncher
Exec=RPMLauncher
Terminal=false
Type=Application
Categories=Game;ArcadeGame;