[Desktop Entry]
Name=RPMLauncher
Comment=A better Minecraft Launcher that supports multiple platforms and many functionalities for you to explore!
Icon=ga.rpmtw.rpmlauncher
Exec=RPMLauncher
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
