[Desktop Entry]
Encoding=UTF-8
Name=GeForce Now
Type=Application
Exec=
Icon=io.github.electron.geforcenow
StartupWMClass=geforce now
Categories=Game;
Keywords=Game;Nvidia;GeForce;
