[Desktop Entry]
Version=1.0
Name=Panoply
GenericName=Data Viewer
Comment=Plot geo-referenced and other arrays from netCDF, HDF, GRIB, and other datasets
Exec=panoply %F
TryExec=panoply
Icon=gov.nasa.giss.Panoply
Terminal=false
Type=Application
Categories=Science;
MimeType=application/x-hdf;application/x-netcdf;
Keywords=Viewer;Data;netCDF;HDF;GRIB;Science;Georeference;
