[Desktop Entry]
Type=Application
Version=2.0
Name=Hieroctive
Comment=A funny memory game to learn hieroglyphics !
Icon=xyz.eclipium.Hieroctive
Exec=Hieroctive
Terminal=false
StartupNotify=false
Categories=Game;
Keywords=game;arcade;
