[Desktop Entry]
Type=Application
Name=Hello Minecraft! Lanucher
Comment=HMCL is a Minecraft launcher which supports Mod management, game customizing, auto installing(Forge, LiteLoader and OptiFine), modpack creating, UI customizing and so on.
Exec=HMCL
Icon=minecraft
Terminal=false
StartupNotify=false
StartupWMClass=org.jackhuang.hmcl.Launcher
