[Desktop Entry]
Type=Application
Name=Sideka
GenericName=Village Governance Platform
Comment=Village Management Application
Exec=run.sh
Icon=id.sideka.App
Categories=Utility;
