[Desktop Entry]
Name=Panamaram
Comment=Personal Finance Expense Tracker
Exec=run-app.sh
Icon=im.due.Panamaram
Type=Application
Categories=Office;Finance;
StartupNotify=false
Terminal=false
