[Desktop Entry]
Name=Insomnia
Comment=Debug APIs like a human, not a robot
Exec=/app/bin/insomnia %U
Terminal=false
Type=Application
Icon=rest.insomnia.Insomnia
MimeType=x-scheme-handler/insomnia;
Keywords=api,graphql,curl,rest-api,grpc,http-client,api-client,electron-app,api-design
Categories=Development;
