[Desktop Entry]
Version=1.0
Type=Application
Name=Enpass
GenericName=Enpass Password manager
Icon=io.enpass.Enpass
Terminal=false
Exec=enpass %U
MimeType=x-scheme-handler/enpassauth;x-scheme-handler/enpasscard;x-scheme-handler/enpassstart;x-scheme-handler/enpass;x-scheme-handler/cloudkit-7adb8cc6tf.in.sinew.walletx;application/enpasscard;
Categories=Utility