[Desktop Entry]
Type=Application
Name=Books
Comment= Open source Accounting Software
Icon=io.frappe.books
Exec=/app/bin/run.sh
Categories=Accounting;Book Keeping;
MimeType=x-scheme-handler/element;
StartupWMClass=element
Keywords=accounting;frappe; books;
