[Desktop Entry]
Name=FreeTube
Comment=An Open Source YouTube app for privacy.
GenericName=FreeTube
Exec=/app/bin/run.sh %U
Icon=io.freetubeapp.FreeTube
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;
