[Desktop Entry]
Name=Vish
Comment=Visual Bash Editor
Exec=vish
Icon=io.github.lluciocc.Vish
Type=Application
Categories=Development;Education;
Terminal=false
