[Desktop Entry]
Name=OpenArena (Quake3e)
Comment=First person shooter
Icon=io.github.ec_.Quake3e.OpenArena
Exec=openarena-q3e
Terminal=false
Type=Application
Categories=Game;ActionGame;
PrefersNonDefaultGPU=true
