[Desktop Entry]
Name=LibreWolf
Exec=librewolf %u
Icon=io.gitlab.librewolf-community
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupWMClass=LibreWolf
Categories=Network;WebBrowser;
StartupNotify=true
Terminal=false
X-MultipleArgs=false
Keywords=Internet;WWW;Browser;Web;Explorer;
Actions=new-window;new-private-window;profilemanager;

[Desktop Action new-window]
Name=Open a New Window
Exec=librewolf %u

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=librewolf --private-window %u

[Desktop Action profilemanager]
Name=Open the Profile Manager
Exec=librewolf --ProfileManager %u
