[Desktop Entry]
Name=scriptorium
Exec=scriptorium
Icon=io.github.cgueret.Scriptorium
Terminal=false
Type=Application
Categories=Utility;
Keywords=GTK;
StartupNotify=true
DBusActivatable=true
