[Desktop Entry]
GenericName=TorrServer
Name=TorrServer
Exec=run.sh
Icon=io.github.YouROK.TorrServer
Terminal=true
Type=Application
Categories=Network
