[Desktop Entry]
Version=1.0
Type=Application

Name=Shopne Arcade
Comment=A frontend for GnGeo emulator written purely in Python
Categories=Game;Emulator;

Icon=com.github.imamhs.Shopne
Exec=shopne
Terminal=false
