[Desktop Entry]
Name=Symphonie
Comment=A simple local music player built with Electron
Exec=Symphonie
Terminal=false
Type=Application
Icon=io.github.kprakesh1984.Symphonie
StartupWMClass=Symphonie
Categories=Audio;Music;Player;
