[Desktop Entry]
Version=1.0
Type=Application

Name=OrbVis
Comment=A Realtime Satellite Orbit Visualizer
Categories=Science;Astronomy;

Icon=io.github.wojciech_graj.OrbVis
Exec=orbvis
Terminal=false
