[Desktop Entry]
Type=Application
Name=InstantDj
GenericName=DJ Software
Comment=DJ application for parties, events and mobile DJs
Exec=instantdj
Icon=io.github.appshines.InstantDj
Terminal=false
Categories=AudioVideo;Audio;Player;
StartupWMClass=InstantDj
