[Desktop Entry]
Categories=Network;P2P;Qt;
Exec=torrent-file-editor %f
GenericName=Torrent File Editor
Comment=Edit and create .torrent files
Icon=torrent-file-editor
MimeType=application/x-bittorrent;
Name=Torrent File Editor
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=torrent-file-editor

Comment[ru]=Редактируйте и создавайте .torrent файлы
