[Desktop Entry]
Type=Application
Name=Porymap
Comment=A map editor for the Pokémon generation 3 decompilation projects
Exec=porymap
Icon=io.github.huderlem.porymap
Categories=Game;Qt;
Keywords=Nintendo;Pokemon;GameBoy;GBA;Hack;Mapeditor;
