[Desktop Entry]
Name=NiimPrintX
Comment=Create and print labels on Niimbot printers
Keywords=label;card;print;office;barcode;bluetooth;
Exec=NiimPrintX.ui
Icon=io.github.labbots.NiimPrintX
Terminal=false
Type=Application
Categories=Office;
StartupNotify=true
