[Desktop Entry]
Version=1.0
Type=Application

Name=scidCommunity
Comment=Community-enhanced chess database application
Keywords=Chess;PGN;convert

TryExec=scidCommunity
Exec=scidCommunity %f
StartupWMClass=scidCommunity
Terminal=false
Hidden=false
Icon=io.github.whelanh.scidCommunity
MimeType=application/x-chess-pgn;application/x-chess-scid3;application/x-chess-scid4;application/x-chess-scid5
StartupNotify=true
Categories=Game;BoardGame;StrategyGame
