[Desktop Entry]
Version=1.0
Type=Application
Name=Tibia
Comment=Tibia is a free massively multiplayer online role-playing game (MMORPG).
Categories=Game
Icon=io.github.fgeroldi.tibia
Exec=tibia-run
Terminal=false
PrefersNonDefaultGPU=false
