[Desktop Entry]
Type=Application
Name=Quran Companion
Comment=Read and learn the Holy Quran
Exec=quran-companion
Terminal=false
Icon=io.github._0xzer0x.qurancompanion
Categories=Education;Qt;
