[Desktop Entry]
Name=Desktop Plus
Comment=GitHub Desktop fork with advanced functionality and Bitbucket integration.
Exec=start-github-desktop-plus %U 
Icon=io.github.pol_rivero.github-desktop-plus
Type=Application
Terminal=false
MimeType=x-scheme-handler/x-github-client;x-scheme-handler/x-github-desktop-auth;x-scheme-handler/x-github-desktop-dev-auth;
Categories=Development;
