[Desktop Entry]
Version=1.0
Type=Application
Comment=A remaster / enhancement of the classic real-time strategy game Dune II by Westwood Studios
Exec=dunedynasty-launcher
Icon=io.github.gameflorist.dunedynasty
Name=Dune Dynasty
Categories=Game;
