[Desktop Entry]
Version=1.0
Type=Application

Name=R2modman
Comment=A simple and easy to use mod manager for many games using Thunderstore.
Categories=Game;GameTool;

Icon=io.github.ebkr.r2modman
Exec=io.github.ebkr.r2modman
Terminal=false