[Desktop Entry]
Type=Application
Name=BigBox
GenericName=Messaging Hub
Comment=All your messaging apps in one blazing-fast window
Comment[pt_BR]=Todos os seus apps de mensagens em uma janela rápida
Exec=bigbox
Icon=io.github.podheitor.bigbox
Terminal=false
Categories=Network;InstantMessaging;Chat;
Keywords=whatsapp;telegram;gmail;slack;discord;messaging;chat;
StartupWMClass=BigBox
StartupNotify=true
