[Desktop Entry]
Type=Application
Name=Classic Snake Terminal
Comment=The classic Snake game, right in your terminal
Exec=run.sh
Icon=io.github.DonaldKellett.csnaketerm
Terminal=true
