[Desktop Entry]
Type=Application
Version=1.4
Name=Audio-to-Text Transcriber
GenericName=Audio Transcription Tool
Comment=Convert audio recordings to text with Whisper.cpp
Exec=audio-to-text-transcriber %F
Icon=io.github.JaredTweed.AudioToTextTranscriber
Categories=AudioVideo;Audio;Utility;
StartupWMClass=Audio-To-Text Transcriber
MimeType=audio/x-wav;audio/mpeg;audio/ogg;audio/flac;audio/x-m4a;audio/x-opus;
Keywords=transcription;audio;text;speech;whisper;
