[Desktop Entry]
Type=Application
Name=Cardmarket Price Updater
Comment=Update Magic: The Gathering, Pokémon and Yu-Gi-Oh! card prices in a spreadsheet from Cardmarket
Exec=Cardmarket-Price-Updater
Icon=io.github.professorshroom.CardmarketPriceUpdater
Categories=Utility;Office;
Terminal=false
StartupWMClass=Cardmarket-Price-Updater
