[Desktop Entry]
Type=Application
Name=Personal History Timeline
Comment=Manage those special memories and events that form the tapestry of your life. Copyright (c) Robert Bascom dba parsemonkey.
Exec=personal-history-timeline
Icon=io.github.parsemonkey.PersonalHistoryTimeline
Categories=Office;Database;PersonalDevelopment;
Terminal=false
MimeType=text/csv;
Keywords=timeline;history;personal;memories;events;family;trial;database;
StartupNotify=true
X-Flatpak=io.github.parsemonkey.PersonalHistoryTimeline
