[Desktop Entry]
Name=C-Dogs SDL
GenericName=Action/Arcade Game
Version=0.7.2
Type=Application
Categories=Game;ActionGame;
Keywords=Game;Arcade;Shooter;Retro;
Comment=Classic overhead run-and-gun game
TryExec=cdogs-sdl
Exec=cdogs-sdl
Terminal=false
Icon=io.github.cxong.cdogs-sdl
