[Desktop Entry]
Name=Photo Organizer
Comment=Organize your photos by EXIF date
Exec=photo-organizer
Icon=io.github.giuseppecigala.PhotoOrganizer
Terminal=false
Type=Application
Categories=Utility;Photography;
Keywords=photo;organizer;exif;date;image;