[Desktop Entry]
Name=TriPeaks
Comment=A Tri Peaks solitaire game
Type=Application
Exec=io.github.mimoguz.TriPeaks-GDX.sh
Icon=io.github.mimoguz.TriPeaks-GDX
Categories=Game;
Version=1.5