[Desktop Entry]
Type=Application
Name=DSDA-Doom
Comment=enhanced clone of the classic first-person shooter Doom
Icon=io.github.kraflab.DSDA-Doom
TryExec=dsda-doom
Exec=dsda-doom %F
Categories=Game;ActionGame;
MimeType=application/x-doom-wad;
Keywords=first;person;shooter;doom;boom;mbf;prboom;
