[Desktop Entry]
Name=Listen 1
Exec=listen1 %u
Terminal=false
Type=Application
Icon=io.github.listen1.Listen1
StartupWMClass=listen1
Comment=One for all free music in China
Categories=AudioVideo;Music;