[Desktop Entry]
Name=Termin
GenericName=Terminal
Comment=Lightweight terminal emulator
Exec=termin
Icon=io.github.theoninesixy.Termin
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
Keywords=terminal;console;shell;command-line;
StartupWMClass=io.github.theoninesixy.Termin
X-Purism-FormFactor=Workstation;Mobile;