[Desktop Entry]
Name=OmegA
Comment=First person shooter
Icon=io.github.bishop_333.omega
Exec=openarena-omega
Terminal=false
Type=Application
Categories=Game;ActionGame;Shooter;
Keywords=arena;quake;q3a;
PrefersNonDefaultGPU=true
