[Desktop Entry]
Name=Bitsafe CLI
Comment=CLI for comunication with Bitsafe password manager Android application
Exec=bitsafe.sh
Icon=bitsafe_ic
Type=Application
Categories=Utility