[Desktop Entry]
Name=Apple Flinger
Exec=run.sh
StartupNotify=true
Terminal=false
Type=Application
Icon=io.github.ardash.apple-flinger
Categories=Game
