[Desktop Entry]
Type=Application
Icon=io.github.barryran.QtScrcpy
Name=QtScrcpy
Exec=qtscrcpy
Terminal=false
Hidden=false
Categories=Development;Utility
Comment=Android real-time screencast control tool