[Desktop Entry]
Name=Online Movie Catalog
Comment=Browse, discover, and track movies and TV shows
Exec=online-movie-catalog --no-sandbox %U
Icon=io.github.kaptanoguz.OnlineMovieCatalog
Terminal=false
Type=Application
Categories=Video;AudioVideo;Database;
StartupNotify=true
StartupWMClass=online-movie-catalog
X-GNOME-UsesNotifications=true
