[Desktop Entry]
Type=Application
Name=multi-scrobbler
Comment=Scrobbles music from multiple sources to multiple clients
Icon=io.github.foxxmd.multiscrobbler
TryExec=multiscrobbler
Exec=multiscrobbler
Terminal=true
Categories=Utility;Music;ConsoleOnly;
X-Flatpak=io.github.foxxmd.multiscrobbler
