[Desktop Entry]
Version=1.0
Name=GtkRadiant
GenericName=GtkRadiant
Type=Application
Comment=Level editor for ID Tech based games including Quake series.
Icon=io.github.TTimo.GtkRadiant
Exec=gtkradiant
Terminal=false
StartupNotify=false
Keywords=multi;engine;level editor;quake;id tech;
Categories=Development;X-LevelEditor;X-GameLevelEditor;
