[Desktop Entry]
Name=moonlight installer
Exec=moonlight-installer
Version=1.5
Type=Application
Icon=io.github.moonlight_mod.MoonlightInstaller
Comment=Installer for moonlight, yet another Discord client mod
Categories=Utility
Keywords=Discord;moonlight;Discord modification;moonlight-mod
