[Desktop Entry]
Name=H7CAD
Comment=A CAD application for 2D/3D drawing and design
Exec=H7CAD
Icon=io.github.HakanSeven12.H7CAD
Terminal=false
Type=Application
Categories=Graphics;Engineering;
MimeType=image/vnd.dxf;
Keywords=CAD;DXF;drawing;design;engineering;2D;3D;
StartupWMClass=H7CAD
