[Desktop Entry]
Type=Application
Name=hmtimer
GenericName=System Shut Down Utility
Icon=io.github.cges30901.hmtimer
Exec=hmtimer
Terminal=false
Hidden=false
Categories=Utility;Qt;
