[Desktop Entry]
Name=TuxScale
Comment=AI-powered video upscaler for Linux
Exec=tuxscale-run %U
Icon=io.github.arrifat346afs.TuxScale
Type=Application
Categories=AudioVideo;Video;
StartupNotify=false
