[Desktop Entry]
Name=MSX Tile Forge
Comment=Tile, palette and map editor for MSX
Exec=msxtileforge
Icon=io.github.DamnedAngel.msx-tile-forge
Terminal=false
Type=Application
Categories=Graphics;2DGraphics;RasterGraphics;
Name[pt_BR]=MSX Tile Forge

