[Desktop Entry]
Type=Application
Name=DS4 Battery Monitor
Exec=io.github.jonatas_goncalves.Ds4BatteryMonitor
Icon=io.github.jonatas_goncalves.Ds4BatteryMonitor
Terminal=false
X-Flatpak=io.github.jonatas_goncalves.Ds4BatteryMonitor
X-GNOME-Autostart-enabled=true
