[Desktop Entry]
Name=Flex Player
Comment=A modern, native media player for Plex
Exec=flex_player_app
Icon=io.github.danilovsergei.flex-player
Terminal=false
Type=Application
Categories=AudioVideo;Video;Player;
StartupWMClass=io.github.danilovsergei.flex-player
