#!/usr/bin/env xdg-open
[Desktop Entry]
Name=InfiniteShooter
GenericName=InfiniteShooter
Comment=A free-and-open-source vertical shooter.
Exec=godot-runner
Icon=io.github.pastthepixels.InfiniteShooter
Type=Application
Categories=Game
