[Desktop Entry]
Type=Application
Name[de]=Tuner
Name[fr]=Tuner
Name[it]=Tuner
Name[nl]=Tuner
Name[pt_BR]=Tuner
Name=Tuner
GenericName[fr]=Lecteur de Web Radios
GenericName[it]=Lettore diInternet Radio
GenericName[nl]=Internetradiospeler
GenericName[pt_BR]=Reprodutor de rádio na Internet
GenericName[tr]=İnternet Radyo İstasyonu Alıcısı
GenericName=Internet Radio Player
Comment[de]=Empfange Radio-Stationen aus aller Welt
Comment[fr]=Écoutez les stations de radio du monde entier
Comment[it]=Ascolta le stazioni radio di tutto il mondo
Comment[nl]=Luister naar radiostations van over heel de wereld
Comment[pt_BR]=Ouça estações de rádio de todo o mundo
Comment[tr]=Tüm dünyadaki Radyo İstasyonlarını dinleyin
Comment=Listen to Radio Stations all over the world
Categories=AudioVideo;Audio;Video;Tuner;Player;Music;
Exec=io.github.louis77.tuner
Icon=io.github.louis77.tuner
Terminal=false
Keywords[de]=Radio;Audio;Listen;Stations;Receiver;
Keywords[fr]=Radio;Audio;Listen;Stations;Receiver;
Keywords[it]=Radio;Audio;Listen;Stations;Receiver;
Keywords[nl]=Radio;Audio;Luisteren;Stations;Ontvanger;
Keywords[pt_BR]=Radio;Audio;Listen;Stations;Receiver;Rádio;Áudio;Ouvir;Estações;Receptor
Keywords[tr]=Radyo; Ses; Dinle; İstasyonlar; Alıcı;
Keywords=Radio;Audio;Listen;Stations;Receiver;
