#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Amharic Bible
Exec=amharic-bible
Icon=io.github.wesenseged.Amharic-bible
Type=Application
Terminal=false
Categories=Education;
