[Desktop Entry]
Type=Application
Name=RISC-V Adventure
Comment=Educational game designed to teach the fundamentals of computer organization, specifically focusing on the multi-cycle processor
Exec=riscv-adventure.sh
Icon=io.github.GGalya1.RiscvAdventure
Categories=Game;Education;
Terminal=false
