[Desktop Entry]
Version=1.0
Type=Application

Name=Near Infinity
Comment=An Infinity Engine Resource Browser and Editor
Categories=Game;Java;

Icon=io.github.nearinfinitybrowser.nearinfinity
Exec=nearinfinity %f
Terminal=false
MimeType=application/x-chitin-key
