[Desktop Entry]
Exec=DroidStar
Icon=io.github.nostar.DroidStar
Name=DroidStar
GenericName=D-Star client
Comment=A D-Star client for PC
NoDisplay=false
StartupNotify=true
Terminal=false
Type=Application
