[Desktop Entry]
Name=Youtube Music
Icon=io.github.th_ch.youtube-music
Encoding=UTF-8
Type=Application
Terminal=false
Categories=AudioVideo;Utility
Exec=start-youtube-music %U
