#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Dark Souls OST
Comment=Simple Dark Souls OST player
Exec=/app/bin/launch.sh
Icon=io.github.neph.io.dsost
Terminal=false
Type=Application
Categories=AudioVideo;Player;Music;
