[Desktop Entry]
Name=Docs2PDF
Comment=Convert Word, Excel, PowerPoint files to PDF
Exec=run.sh %F
Icon=io.github.rn0x.docs2pdf
Type=Application
Categories=Utility;
MimeType=application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.openxmlformats-officedocument.presentationml.presentation;
Terminal=false
StartupNotify=true
