#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Kalorite
GenericName=Kalorite
Comment=Lightweight Audio player
Icon=io.github.monsler.Kalorite
Keywords=player;sound;audio;kalorite
Categories=Audio;Utility;Music
Terminal=false
Exec=/app/bin/kalorite
StartupWMClass=kalorite