[Desktop Entry]
Comment=OpenDungeonsPlus, a better fork of Opendungeons
Categories=Game;Strategy;
Exec=opendungoens-plus
Icon=meta/gui/icon.svg
Name=OpenDungoensPlus
StartupNotify=true
Terminal=false
Type=Application
Keywords=Dungeons;Strategy;Sim;Kepper;Dungeon;Manager;Creatures;
