[Desktop Entry]
Version=1.0
Type=Application

Name=CHIRP
Comment=A free, open-source tool for programming your radio.
Categories=Settings;HardwareSettings;

Icon=io.github.satisflux.chirp
Exec=chirp
Terminal=false
