[Desktop Entry]
Version=0.4.1
Type=Application

Name=2dTaskBoard
Comment=Task management productivity app with markdown support
Categories=Categories=Utility;Productivity;

Icon=2dTaskBoard