[Desktop Entry]
Version=1.0
Type=Application

Name=TubeSync
Comment=Sync YouTube playlists offline
Categories=AudioVideo;Music;

Icon=io.github.khaled_0.TubeSync
Exec=tubesync
Terminal=false
