[Desktop Entry]
Type=Application
Name=FS PDF Compressor
GenericName=PDF Compressor
Comment=Compress PDF files locally, without uploading them
Exec=fs-pdf-compressor %F
Icon=io.github.gitlares.fs-pdf-compressor
Terminal=false
Categories=Utility;Office;
MimeType=application/pdf;
StartupNotify=true
