[Desktop Entry]
Type=Application
Name=RDPilot
GenericName=Remote Desktop Client
Comment=Fast RDP client backed by FreeRDP
Exec=rdpilot
Icon=io.github.ErnieBernie10.RDPilot
Terminal=false
Categories=Network;RemoteAccess;
Keywords=RDP;Remote;Desktop;FreeRDP;Windows;Terminal Server;
StartupNotify=true
StartupWMClass=RDPilot.Client
