[Desktop Entry]
Version=1.0
Type=Application
Name=Upeksha Alpha
GenericName=Timer & Productivity
Comment=Modern intelligent timer and productivity application
Exec=upeksha
Icon=io.github.ksdmahesh.upeksha
Terminal=false
Categories=Utility;Clock;AudioVideo;
StartupWMClass=upeksha
Keywords=timer;stopwatch;pomodoro;clock;productivity;focus;
