[Desktop Entry]
Name=undo
Comment=Rückgängig für Linux-Befehle
Exec=undo
Icon=utilities-terminal
Terminal=true
Type=Application
Categories=System;Utility;
Keywords=undo;revert;filesystem;backup;
