[Desktop Entry]
Name=Open Syobon Action (Cat Mario)
Exec=opensyobon-wrapper
Type=Application
Icon=io.github.akemin_dayo.OpenSyobonAction.png
Categories=Game
