[Desktop Entry]
Type=Application
Name=Songr
Comment=Multi platform controller for your Roon Core
Exec=songr %U
Icon=io.github.roethlar.songr
Categories=AudioVideo;
Terminal=false
X-Flatpak=io.github.roethlar.songr
