[Desktop Entry]
Type=Application
Terminal=false
Name=Greenery
Comment=Cryptocurrency bookkeeping and accounting wallet
Keywords=bitcoin;crypto;coin;ethereum;litecoin;tezos;accounting;blockchain;defi;invoicing;web3;wallet;
Categories=Utility;
Exec=greenery
Icon=io.greenfire.Greenery