[Desktop Entry]
Version=1.0
Type=Application
Name=JChemPaint
GenericName=Chemical 2D structure editor
Icon=io.github.jchempaint.JChemPaint
Exec=jchempaint %f
Categories=Science;Chemistry;
Terminal=false
