[Desktop Entry]
Version=1.0
Type=Application
Name=IceBox
Comment=PDF Creator
Categories=Utility;Java;
Icon=io.github.pleromix.IceBox
Exec=run.sh
Terminal=false
