[Desktop Entry]
Name=GitAhead
Comment=Understand your Git history!
Exec=gitahead
Icon=io.github.gitahead.Gitahead
Terminal=false
Type=Application
StartupNotify=true
Categories=Qt;Development;Documentation;
