[Desktop Entry]
Version=1.0
Type=Application
Name=QLog
Comment=Amateur Radio Logbook
Exec=qlog
Icon=io.github.7h0ma5.QLog
Categories=Utility;HamRadio;
