[Desktop Entry]
Type=Application
Name=ClamUI
GenericName=Antivirus Scanner
Comment=A graphical interface for ClamAV antivirus
Exec=clamui %U
Icon=io.github.linx_systems.ClamUI
Terminal=false
Categories=GTK;Utility;Security;
Keywords=antivirus;virus;scanner;clamav;security;malware;virustotal;
StartupNotify=true
NoDisplay=false
