[Desktop Entry]
Name=FlClash
Comment=A multi-platform proxy client based on ClashMeta,simple and easy to use, open-source and ad-free.
Exec=FlClash %U
Icon=io.github.chen08209.FlClash
Encoding=UTF-8
Terminal=false
StartupNotify=false
Type=Application
Categories=Network
Keywords=FlClash;Clash;ClashMeta;Proxy
