[Desktop Entry]
Type=Application
Name=Hearts
GenericName=Card Game
Comment=Play the classic trick-taking card game Hearts
Exec=Hearts
Icon=io.github.Rescator7.Hearts
Terminal=false
Categories=Game;CardGame;
Keywords=hearts;cards;card game;trick-taking;
