[Desktop Entry]
Version=1.0
Name=GCstar Collections Manager
Name[es]=Gestor de colecciones GCstar
Name[fr]=GCstar gestionnaire de collections
GenericName=Personal Collections Manager
Comment=Manage your collections of movies, games, books, music and more
Comment[en]=Manage your collections of movies, games, books, music and more
Comment[es]=Organice sus colecciones de películas, juegos, libros, música y más
Comment[fr]=Gérer vos collections de films, jeux vidéos, livres, musique,...
Comment[pt]=Organize as suas colecções de filmes, jogos, vídeos, livros e música...
Exec=gcstar %f
Icon=io.gitlab.GCstar.GCstar
Terminal=false
StartupNotify=true
Type=Application
Categories=Office;Database;
MimeType=application/x-gcstar;

