[Desktop Entry]
Type=Application
Name=Luminous Music Player
GenericName=Music Player
Comment=A high-performance home for the music you already own
Exec=LuminousMusicPlayer %U
Icon=io.github.esoltys.Luminous
Terminal=false
Categories=AudioVideo;Audio;Music;Player;
MimeType=audio/mpeg;audio/flac;audio/ogg;audio/mp4;audio/aac;audio/vnd.wave;audio/x-aiff;audio/x-wavpack;audio/x-musepack;audio/x-ape;audio/x-tta;audio/x-dsf;audio/x-dff;application/vnd.ms-asf;audio/x-ms-wma;
StartupWMClass=org.luminous.music
