#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Edisyn
GenericName=Synthesizer patch editor and librarian
Comment=Synthesizer Patch Editor and Librarian
Exec=/app/bin/run.sh
StartupNotify=true
Icon=io.github.eclab.edisyn
Categories=AudioVideo