[Desktop Entry]
Name=電子佛典
GenericName=CBETA電子佛典2
Exec=/app/bin/run.sh
Icon=io.github.mrmyhuang.cbetar2
Type=Application
Terminal=false
Categories=Education;
