[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Classic Snake Terminal
Comment=The classic Snake game, right in your terminal
Exec=csnaketerm
Icon=/app/share/app-info/icons/flatpak/io.github.DonaldKellett.csnaketerm.png
Terminal=true
