[Desktop Entry]
Type=Application
Name=Rocket Relay
Comment=2D orbital-mechanics puzzle game
Exec=rocketrelay
Icon=io.github.Midnight_Laboratories.RocketRelay
Categories=Game;
Terminal=false
