[Desktop Entry]
Type=Application
Name=The AMC Squad
Comment=An epic story-driven FPS running on the Build Engine, combining retro and modern shooter mechanics.
Icon=io.itch.amcsquad.amcsquad
Exec=io.itch.amcsquad.amcsquad.sh
Categories=Game;ActionGame;Shooter
