[Desktop Entry]
Name=itch
Exec=itch-run
Terminal=false
Type=Application
Icon=io.itch.Itch
Comment=Play itch.io games easily
MimeType=x-scheme-handler/itchio;x-scheme-handler/itch;
Categories=Game;
