[Desktop Entry]
Name=LycheeSlicer
Exec=lycheeslicer %U
Terminal=false
Type=Application
Icon=io.mango3d.LycheeSlicer
StartupWMClass=LycheeSlicer
Comment=Lychee Slicer
MimeType=x-scheme-handler/lycheeslicer;
Categories=Utility;
X-Desktop-File-Install-Version=0.27
