[Desktop Entry]
Type=Application
Name=Simple Sokoban
GenericName=Simple Sokoban
Comment=Simple Sokoban Game
Icon=simplesok
Exec=simplesok
Categories=Game;LogicGame;
Terminal=false
