[Desktop Entry]
Name=Podman Desktop
Exec=electron-wrapper %U
Terminal=false
Type=Application
Icon=io.podman_desktop.PodmanDesktop
StartupWMClass=Podman Desktop
Categories=Utility;
