[Desktop Entry]
Name=Qt Designer
GenericName=Interface Designer
Comment=Design GUIs for Qt applications
Comment[de]=Erstelle GUIs for Qt Anwendungen
Exec=designer %F
Icon=io.qt.Designer
MimeType=application/x-designer;
Terminal=false
Type=Application
Categories=Qt;Development;
