[Desktop Entry]
Name=Pixelitor
GenericName=Image Editor
Comment=Pixelitor is an open source image editor that supports layers, layer masks, text layers, filters, multiple undo etc.
Exec=pixelitor
Icon=io.sourceforge.Pixelitor
Terminal=false
Type=Application
Keywords=pixelitor;graphic;design;illustration;painting;
Categories=Graphics;2DGraphics;RasterGraphics;
MimeType=application/x-pixelitor;image/openraster;image/jpeg;image/png;image/x-icon;image/gif;image/bmp;
StartupNotify=false
