[Desktop Entry]
Name=Stoplight Studio
Exec=env APPDIR=/app /app/AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=io.stoplight.studio
StartupWMClass=Stoplight Studio
X-AppImage-Version=2.3.0-stable.6425.git-0073b80.194779
Comment=Stoplight Studio
Categories=Development;
