[Desktop Entry]
Name=OPolyglot
Comment=Your Private Offline Translator
Exec=opolyglot
Icon=io.sourceforge.opolyglot
Terminal=false
Type=Application
Categories=Office;Education;Utility;Dictionary;
