[Desktop Entry]
Name=WizRead
Comment=A beautiful ebook and PDF reader
Exec=wizread %U
Terminal=false
Type=Application
Icon=io.wizread.WizRead
StartupWMClass=WizRead
Categories=Office;Viewer;Education;
MimeType=application/pdf;application/epub+zip;
