[Desktop Entry]
Version=1.0
Name=Wavebox
GenericName=Web Browser
Comment=The next generation of web-desktop communication
Exec=wavebox %U
StartupNotify=true
Terminal=false
Icon=io.wavebox.Wavebox
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/ftp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/mailto;
Actions=new-window;new-private-window;

X-Flatpak-RenamedFrom=wavebox.desktop;

[Desktop Action new-window]
Name=New Window
Exec=wavebox

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=wavebox --incognito
