[Desktop Entry]
Name=IRCCloud
Comment=Chat on IRC from anywhere, and never miss a message
Exec=irccloud
Terminal=false
Type=Application
Icon=com.irccloud.desktop
Categories=Network;IRCClient;
