[Desktop Entry]
Version=1.0
Type=Application
Name=Jahresarbeit 2003
Comment=Find die größte Fläche von zusammenhängenden Quadraten
Categories=Game;LogicGame;
Icon=com.github.christianrauch.Jahresarbeit-2003
Exec=/app/ja2003
