[Desktop Entry]
Name=KchmViewer
GenericName=CHM file viewer
Comment=A viewer of CHM (MS-Help) files
Exec=kchmviewer %f
TryExec=kchmviewer
Icon=com.ulduzsoft.KchmViewer
Type=Application
Terminal=false
StartupNotify=true
StartupWMClass=kchmviewer
Categories=Qt;KDE;Office;Viewer;
Keywords=CHM;MS-Help;WinHelp;EPUB;
MimeType=application/chm;application/x-chm;application/vnd.ms-htmlhelp;application/epub+zip;
