[Desktop Entry]
Name=Ledger Wallet
Exec=ledger-live-launcher %U
Terminal=false
Type=Application
Icon=com.ledger.live
StartupWMClass=Ledger Wallet
X-AppImage-Version=2.133.0
Comment=Ledger Wallet - Desktop
MimeType=x-scheme-handler/ledgerlive;x-scheme-handler/ledgerwallet;
Categories=Finance;
