[Desktop Entry]
Name=SimpliPlay
Comment=Simple media player with minimal UI and customizability via add-ons.
Comment[es]=Reproductor multimedia sencillo con una interfaz de usuario minimalista y personalizable mediante complementos.
Comment[fr]=Lecteur multimédia simple avec une interface utilisateur minimale et personnalisable via des modules complémentaires.
Comment[pt]=Reprodutor de mídia simples com interface mínima e personalização através de complementos.
Comment[ru]=Простой медиаплеер с минимальным интерфейсом и возможностью настройки с помощью дополнений.
Comment[zh_CN]=功能简约的媒体播放器，采用极简界面设计，并支持通过附加组件进行个性化定制。
Comment[pl]=Prosty odtwarzacz multimedialny z minimalistycznym interfejsem użytkownika i możliwością dostosowania za pomocą dodatków.
GenericName=Media Player
Exec="/app/bin/run.sh"
Terminal=false
Type=Application
URL=https://simpliplay.netlify.app/
Icon=me.anirudhsevugan.SimpliPlay
Categories=AudioVideo;Network;Player;Media;
