[Desktop Entry]
Name=Proton Meet
Comment=End-to-end encrypted video meetings
Exec=start-proton-meet %U
Icon=me.proton.Meet
Type=Application
Categories=Network;VideoConference;
MimeType=x-scheme-handler/proton-meet;
StartupWMClass=Proton Meet
Keywords=video;conference;meeting;call;encrypted;privacy;proton;
