[Desktop Entry]
Name=MongoDB Compass
Comment=The MongoDB GUI
GenericName=MongoDB Compass
Exec=run.sh %U
Icon=com.mongodb.Compass
Type=Application
StartupNotify=true
Categories=Utility;