[Desktop Entry]
Categories=Graphics;Photography;
Comment=Download, rename and back up photos and videos from cameras and other devices
Exec=rapid-photo-downloader %f
GenericName=Photo Downloader
Icon=net.damonlynch.rapid_photo_downloader.svg
MimeType=x-content/image-dcf
Name=Rapid Photo Downloader
Name[en_US]=Rapid Photo Downloader
Terminal=false
Type=Application
StartupWMClass=rapid-photo-downloader
Version=1.0
# TRANSLATORS: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
