#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=skycheckers
Name=SkyCheckers
Comment=Blast enemies off a stage
Icon=net.zgcoder.skycheckers
Categories=Game;

