[Desktop Entry]
Type=Application
Name=Burp Suite Professional
Exec=BurpSuitePro %U
MimeType=application/x-extension-burp;
Icon=net.portswigger.BurpSuite-Professional
Terminal=false
Categories=Application;Utility;Network;Development;
StartupWMClass=install4j-burp-StartBurp
