[Desktop Entry]
Type=Application
Name=HMCL
GenericName=Minecraft Launcher
GenericName[zh_CN]=Minecraft 启动器
Comment=Hello Minecraft Launcher
Comment[zh_CN]=Hello Minecraft 启动器
Exec=hmcl %U
Icon=net.huangyuhui.hmcl
Terminal=false
Categories=Game;
StartupWMClass=org.jackhuang.hmcl.Launcher
Keywords=minecraft;launcher;
