[Desktop Entry]
Name=jammr
GenericName=jammr client
Comment=Play with musicians over the internet
Keywords=Jam;Jamming;Music;
Exec=jammr
Type=Application
Categories=Audio;AudioVideo;Music;
Terminal=false
Icon=net.jammr.jammr
