[Desktop Entry]
Type=Application
Name=Airshipper
Comment=Official launcher for Veloren - the open-world, open-source multiplayer voxel RPG
Exec=airshipper
Categories=Game
Keywords=veloren, airshipper
Icon=net.veloren.airshipper
Terminal=false
