[Desktop Entry]
Version=1.0
Type=Application
Name=Frets On Fire
Comment=Frets on Fire is a game of musical skill and fast fingers. The aim of the game is to play guitar with the keyboard as accurately as possible.
Exec=fretsonfire
Icon=net.sourceforge.fretsonfire
Categories=Game;
