[Desktop Entry]
Name=wxEDID
Comment=Edit edid
Type=Application
MimeType=application/octet-stream
Categories=Utility;
Keywords=EDID;
Exec=wxedid %f
Terminal=false
Icon=net.sourceforge.wxEDID