[Desktop Entry]
Name=World of Padman
Comment=Comic 3D-Shooter
Icon=net.worldofpadman.WoP
Exec=worldofpadman
Terminal=false
Type=Application
Categories=Game;ActionGame;
PrefersNonDefaultGPU=true
