[Desktop Entry]
Name=scidvspc
GenericName="scidvspc"
Comment="Chess GUI"
Exec=scid
Icon=scid
Terminal=false
Type=Application
Categories=Game;BoardGame;
