[Desktop Entry]
Comment=Play QC:DE Online
Categories=Game;Shooter;
Exec=qcde_mp.sh
Icon=net.qcde.QCDE
Name=QC:DE Multiplayer
StartupNotify=true
PrefersNonDefaultGPU=true
Terminal=false
Type=Application
Keywords=Doom;Quake;QCDE;first;person;shooter;multiplayer;
