[Desktop Entry]
Name=VICE (C64)
Comment=Commodore 64 Emulator
Exec=x64
Icon=net.sf.VICE
Terminal=false
StartupNotify=true
Type=Application
Categories=Game;Emulator;
Keywords=emulator;commodore;8-bit;vice;64;c64;
