[Desktop Entry]
Categories=Network;FileTransfer;
Exec=start-motrix %U
GenericName=Torrent Client
Icon=net.agalwood.Motrix
Keywords=Torrent;Bittorrent;Download;
Name=Motrix
Comment=A full-featured download manager
StartupNotify=true
StartupWMClass=motrix
Terminal=false
Type=Application
MimeType=application/x-bittorrent;x-scheme-handler/magnet;x-scheme-handler/mo;x-scheme-handler/motrix;x-scheme-handler/thunder;