[Desktop Entry]
Name=LBreakoutHD
GenericName=Arkanoid / Breakout like game
Comment=A ball-and-paddle game with nice graphics.
Exec=lbreakouthd
Icon=net.sourceforge.lgames.LBreakoutHD
Type=Application
Keywords=arkanoid;breakout;ball;space;paddle;
Categories=Game;
StartupNotify=false
Terminal=false
