[Desktop Entry]
Name=Dosbox Daum
Type=Application
Exec=dosbox
Icon=net.x_y.ykhwong.dosbox-daum
GenericName=Dosbox
Comment="The is a fork of dosbox known as Dosbox Daum, it was aboandoned in 2015 but is still the only version of dosbox that certain games will run on"
Categories=Game
