[Desktop Entry]
Version=1.5
Name=Unvanquished
Comment=FPS/RTS Game - Aliens vs. Humans
Type=Application
Terminal=false
Exec=unvanquished -connect %u
MimeType=x-scheme-handler/unv
Categories=Game;ActionGame;StrategyGame;
Icon=net.unvanquished.Unvanquished
