[Desktop Entry]
Type=Application

Name=Frigoligo
Comment=Keep your links fresh
Categories=Network;News;

Exec=frigoligo
Icon=net.casimirlab.frigoligo
Terminal=false