[Desktop Entry]
Name=NordPass
Exec=nordpass
Terminal=false
Type=Application
Icon=com.nordpass.NordPass
StartupWMClass=NordPass
Comment=NordPass is your freedom from password stress. Generate and securely store strong passwords and autofill them with a single click.
MimeType=x-scheme-handler/nordpass;
Categories=Utility;
