[Desktop Entry]
Name=Tachidesk VaadinUI
Exec=/usr/bin/flatpak run online.hatsune_miku.tachidesk-vaadinui
Type=Application
Keywords=Tachidesk;Manga;
Categories=Viewer;Graphics;
Icon=online.hatsune_miku.tachidesk-vaadinui
