[Desktop Entry]
Name=OpenTrace
Keywords=traceroute;OpenTrace;network;
Exec=OpenTrace
Comment=OpenTrace is a cross-platform GUI wrapper for NextTrace. Bringing you a sense of familiarity.
Icon=/app/share/icons/hicolor/1024x1024/apps/opentrace.png
Type=Application
Terminal=false
Categories=Network;
