[Desktop Entry]
Name=tinyMediaManager
Comment=Media manager for movies and TV shows
Exec=tinyMediaManager.sh
Icon=org.tinymediamanager.tinyMediaManager
Terminal=false
Type=Application
Categories=AudioVideo;Video;
StartupNotify=true
StartupWMClass=org-tinymediamanager-TinyMediaManager