[Desktop Entry]
Name=Hurry Curry!
Icon=org.metamuffin.hurrycurry.client
GenericName[de]=Ein Spiel rund ums Kochen
GenericName=A game about cooking
Exec=hurrycurry
Terminal=false
StartupNotify=false
Type=Application
Categories=Game;
Keywords=game;cooking;
PrefersNonDefaultGPU=true
