[Desktop Entry]
Type=Application
Exec=tlatoolbox
Icon=org.lamport.tla.toolbox
Name=TLA+ Toolbox
Name[es]=TLA+ Toolbox
GenericName=TLA+ IDE
GenericName[es]=Entorno de desarrollo para TLA+
Comment=TLA+ Toolbox is an IDE (integrated development environment) for the TLA+ tools
Comment[es]=TLA+ Toolbox es un entorno de desarrollo integrado para las herramientas TLA+
Terminal=false
Categories=Development;ComputerScience;Engineering;Science;
StartupNotify=true
X-Desktop-File-Install-Version=0.24
X-Flatpak=org.lamport.tla.toolbox
