[Desktop Entry]
Name=Telyn
Comment=Visual editor for parametric sewing patterns
Exec=TelynGtk
Terminal=false
Type=Application
Icon=org.luoja.Telyn
Categories=Graphics

