[Desktop Entry]
Name=openMSX
GenericName=MSX Emulator
GenericName[ca]=Emulador MSX
GenericName[da]=MSX-emulator
GenericName[de]=MSX Emulator
GenericName[es]=Emulador MSX
GenericName[fi]=MSX-emulaattori
GenericName[fr]=Émulateur MSX
GenericName[it]=MSX emulatore
GenericName[ja]=MSX エミュレータ
GenericName[nl]=MSX Emulator
GenericName[no]=MSX Emulator
GenericName[pl]=Emulator MSX
GenericName[pt]=Emulador MSX
GenericName[ru]=Эмулятор MSX
GenericName[sv]=MSX-emulator
GenericName[ua]=Емулятор MSX
GenericName[zh_CN]=MSX 模拟器
GenericName[zh_TW]=MSX 模擬器
Comment=An emulator for the MSX home computer system
Comment[de]=Ein Emulator für das MSX-Heimcomputersystem
Comment[da]=En emulator til MSX-hjemmecomputersystemet
Comment[es]=Un emulador para el sistema informático doméstico MSX
Comment[fi]=Emulaattori MSX-kotitietojärjestelmälle
Comment[fr]=Un émulateur pour le système informatique domestique MSX
Comment[it]=Un emulatore per il sistema informatico domestico MSX
Comment[nl]=Een emulator voor het MSX home computer systeem
Comment[no]=En emulator for MSX hjemme-datasystemet
Comment[pl]=Emulator dla domowego systemu komputerowego MSX
Comment[pt]=Un emulador para o sistema de computador doméstico MSX
Comment[sv]=En emulator för MSX-hemdatasystemet
Exec=openmsx
Icon=org.openmsx.openMSX
Terminal=false
Type=Application
Categories=Game;Emulator;
Keywords=emulator;msx;openmsx;svi;colecovision
MimeType=application/x-msx-rom;application/x-raw-disk-image;application/zip;application/gzip;
