[Desktop Entry]
Name=Linn
Comment=GTK4 Music Player
Exec=linn
Icon=org.ljyh.linn
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;
StartupNotify=true