[Desktop Entry]
Name=NetLogo
Comment=Multi-agent programmable modeling environment
Exec=netlogo-wrapper.sh
Icon=org.netlogo.NetLogo
Type=Application
Categories=Education;Science;
Terminal=false
