[Desktop Entry]
Name=Feishin
Exec=feishin %U
Terminal=false
Type=Application
Icon=org.jeffvli.feishin
StartupWMClass=Feishin
Categories=AudioVideo;Audio;Player
