[Desktop Entry]
Version=0.1.18
Type=Application
Terminal=true
Name=Pinpoint
TryExec=pinpoint
Exec=pinpoint
Icon=org.gnome.Pinpoint.png
Categories=ConsoleOnly;Presentation;Office;

