[Desktop Entry]
Version=1.0
Type=Application
Name=Sonic Robo Blast 2
Comment=A 3D Sonic the Hedgehog fangame based on a modified version of Doom Legacy
TryExec=srb2
Exec=srb2
Icon=org.srb2.SRB2
Terminal=false
Categories=Game;