[Desktop Entry]
Name=Tray Notepad
Comment=Quick notepad in system tray
Exec=main.py
Icon=org.traynotepad.TrayNotepad
Type=Application
Categories=Utility;
