[Desktop Entry]
Type=Application
Terminal=false
Name=Kolibri
Comment=Offline education technology platform
Keywords=education;multimedia;videos;learning;quiz;
Categories=Education;
Exec=open_kolibri.sh
Icon=org.learningequality.Kolibri