[Desktop Entry]
Version=1.0
Type=Application
Name=Dr. Robotnik's Ring Racers
Comment=This is Racing at the Next Level
TryExec=ringracers.sh
Exec=ringracers.sh
Icon=org.kartkrew.RingRacers
Terminal=false
Categories=Game;
