[Desktop Entry]
Categories=Game;RolePlaying;
Comment[en_GB]=2006Scape is a free, open-source Runescape 2006 Emulation server
Comment=2006Scape is a free, open-source Runescape 2006 Emulation server
Exec=run.sh
GenericName[en_GB]=2006Scape Launcher
GenericName=2006Scape Launcher
Icon=org._2006Scape.Launcher
Keywords=games;runescape;2006Scape
MimeType=
Name[en_GB]=2006Scape
Name=2006Scape
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
