[Desktop Entry]
Type=Application
Name=ePitaka
GenericName=Tipitaka Reader
Comment=ePitaka - Tipitaka Reader in Multiple Languages
Exec=epitaka
Icon=org.epitaka.Epitaka
Terminal=false
Categories=Education;Office;Utility;
StartupWMClass=epitaka
