[Desktop Entry]
Categories=Development;
Comment=Spin up dev environments in any infra
Exec=DevPod
Icon=org.loft.devpod
Name=DevPod
Terminal=false
Type=Application
