[Desktop Entry]
Name=Monero Wallet
Comment=A Monero Wallet
Keywords=Monero;Currency;Wallet;
Icon=org.getmonero.Wallet
TryExec=monero-wallet-gui
Exec=monero-wallet-gui
Type=Application
Terminal=false
Categories=Office;
StartupNotify=false
X-Desktop-File-Install-Version=0.23
StartupWMClass=org.getmonero.Wallet
