[Desktop Entry]
Type=Application
Name=Glide
Comment=Fast and secure file transfer application
Exec=glide_gui
Icon=org.glideapp.GlideApp
Categories=Network;FileTransfer;Qt;
StartupNotify=true
