[Desktop Entry]
Version=2.0
Name=Synology Note Station Client
Comment=Synology Note Station Client for Desktop
Exec="/app/share/applications/org.leeroymanea.synology-note-station/launch.sh"
Terminal=false
Type=Application
Icon=org.leeroymanea.synology-note-station
Categories=Office
