[Desktop Entry]
Type=Application
Name=Eclipse IDE for Eclipse Committers
Comment=Package suited for development of Eclipse itself at Eclipse.org; based on the Eclipse Platform adding PDE, Git, Marketplace Client, source code and developer documentation.
Icon=org.eclipse.Committers
Exec=eclipse
Terminal=false
Categories=Development;IDE;

