[Desktop Entry]
Version=1.0
Name=MoleQueue
GenericName=Manage computational resources
Comment=Manage HPC jobs from the system tray
Exec=molequeue %U
Terminal=false
Type=Application
Icon=org.tomviz.Tomviz.Molequeue
Categories=Qt;Science;Chemistry;
