[Desktop Entry]
Type=Application
Name=Justice Client
Comment=A modern Minecraft launcher with Fabric, Forge, NeoForge, Quilt, Modrinth and CurseForge support
Exec=justice %U
Icon=org.justiceclient.launcher
Terminal=false
Categories=Game;Utility;
StartupWMClass=Justice Client
MimeType=x-scheme-handler/justice;application/x-modrinth-modpack+zip;
