[Desktop Entry]
Version=1.0
Type=Application
Name=Sonic Robo Blast 2 Persona
Comment=A 3D Sonic the Hedgehog fangame based on a modified version of Doom Legacy
TryExec=srb2persona
Exec=srb2persona
Icon=org.srb2.SRB2Persona
Terminal=false
Categories=Game;