[Desktop Entry]
Type=Application
Terminal=false
StartupNotify=true
Icon=org.qtodotxt.qtodotxt
StartupWMClass=qtodotxt
Name=QTodoTxt
Comment=cross-platform TODO-list organizer for todo.txt files
Exec=qtodotxt %u
Categories=Office;ProjectManagement;
Keywords=Organizer;Task;Activity;GTD
MimeType=text/plain;
