[Desktop Entry]
Version=1.0
Type=Application
Name=T2DECODE
Comment=Plateforme locale d'apprentissage technique et cybersécurité
Exec=T2DECODE
Icon=org.tutodecode.T2DECODE
Terminal=false
Categories=Education;Development;ComputerScience;
Keywords=offline;cybersecurity;network;learning;local;ia;
StartupWMClass=t2decode
