[Desktop Entry]
Name=Gramps
GenericName=Genealogy System
Comment=Manage genealogical information and perform genealogical research and analysis
Icon=org.gramps_project.Gramps
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Office;
Exec=
