[Desktop Entry]
Name=Sonofman
Exec=som
Type=Application
Icon=org.hlwd.sonofman
Terminal=true
Keywords=Bible;Biblia;Bíblia;Bibbia;Bibel;Terminal;Console;Reading;NCurses;Python;Jesus;sonofman;
