[Desktop Entry]
Categories=Development;
Comment=Spin up dev environments in any infra
Exec=DevPod
Icon=/app/share/icons/hicolor/128x128/apps/org.loft.devpod.png
Name=DevPod
Terminal=false
Type=Application
