[Desktop Entry]
Comment=SeriousSamClassic-VK is a Serious-Engine GPL source port
Categories=Game;Shooter;
Exec=serioussamse.sh
Icon=org.serioussam.SeriousSamClassic-VK
Name=Serious Sam: The Second Encounter
StartupNotify=true
Terminal=false
Type=Application
Keywords=serioussam;first;person;shooter;singleplayer;multiplayer;
Name[ru_RU]=Serious Sam: The Second Encounter
