[Desktop Entry]
Type=Application
Name=Eclipse IDE for Web and JavaScript Developers
Comment=The essential tools for any JavaScript developer, including JavaScript, TypeScript, HTML, CSS, XML, Yaml, Markdown languages support.
Icon=org.eclipse.Javascript
Exec=eclipse %f
Terminal=false
Categories=Development;IDE;
MimeType=application/javascript;application/xml;application/xhtml+xml;application/x-yaml;text/html;text/css;text/markdown;text/x-patch;text/x-diff;
