[Desktop Entry]
Name=Kublit
Comment=new game from 69 studios
Exec=steam /app/bin/Kublit.sh
Icon=kubliticon
Terminal=false
Type=Application
Categories=Game;
