[Desktop Entry]
Version=1.0
Type=Application
Categories=Network;Utility;

Name=TrguiNG
Comment=Transmission torrent daemon remote GUI
Icon=trgui-ng
Exec=trgui-ng %u
Terminal=false
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
Keywords=Transmission;Torrent;
