[Desktop Entry]
Comment=Yamagi Quake II is an alternative client for id Software's Quake II
Categories=Game;Shooter;
Exec=YamagiQ2.sh
Icon=org.yamagi.YamagiQ2
Name=Yamagi Quake II
StartupNotify=true
Terminal=false
Type=Application
Keywords=quake;first;person;shooter;multiplayer;
