[Desktop Entry]
Categories=Utility;FileTools;Security;
Comment=Cloud storage encryption utility
Exec=cryptomator %U
Icon=org.cryptomator.Cryptomator
Keywords=encryption;
Name=Cryptomator
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=skymatic-cryptomator
