[Desktop Entry]
Name=EasyTAG
Name[bs]=Laka oznaka
Name[ca]=EasyTAG
Name[cs]=EasyTAG
Name[de]=EasyTAG
Name[en_GB]=EasyTAG
Name[es]=EasyTAG
Name[fr]=EasyTAG
Name[hr]=EasyTAG
Name[hu]=EasyTAG
Name[ko]=이지태그
Name[lt]=EasyTAG
Name[nb]=EasyTAG
Name[oc]=EasyTAG
Name[pl]=EasyTAG
Name[pt]=EasyTAG
Name[pt_BR]=EasyTAG
Name[sr]=Лака ознака
Name[sr@latin]=Laka oznaka
Name[sv]=EasyTAG
Name[tr]=EasyTAG
Name[zh_TW]=EasyTAG 音訊標籤編輯器
GenericName=Audio File Metadata Editor
GenericName[bs]=Audio File Metadata Editor
GenericName[ca]=Editor de metadades de fitxers de so
GenericName[cs]=Editor metadat zvukových souborů
GenericName[de]=Audiodatei-Metadaten-Editor
GenericName[en_GB]=Audio File Metadata Editor
GenericName[es]=Editor de metadatos de archivos de sonido
GenericName[fr]=Éditeur de métadonnées de fichiers audio
GenericName[hr]=Uređivač metapodataka glazbenih datoteka
GenericName[hu]=Hangfájlok metaadatainak szerkesztése
GenericName[ko]=소리 파일 메타데이터 편집기
GenericName[nb]=Metadata-behandler for lydfiler
GenericName[oc]=Editor de metadonadas dels fichièrs àudio
GenericName[pl]=Edytor metadanych plików dźwiękowych
GenericName[pt]=Editar metadados de ficheiros de áudio
GenericName[pt_BR]=Editor de metadados de arquivo de áudio
GenericName[sr]=Уређивач метаподатака звучних датотека
GenericName[sr@latin]=Uređivač metapodataka zvučnih datoteka
GenericName[sv]=Metadataredigerare för ljudfiler
GenericName[tr]=Ses Dosyası Üstveri Düzenleyici
GenericName[zh_TW]=音訊檔案元數據編輯器
Comment=Edit audio file metadata
Comment[bs]=Edituj adio file metadata
Comment[ca]=Edita les metadades del fitxer d'àudio
Comment[cs]=Upravujte si metadata zvukových souborů
Comment[de]=Metadaten von Audio-Datei bearbeiten
Comment[en_GB]=Edit audio file metadata
Comment[es]=Editar los metadatos de archivos de sonido
Comment[fr]=Modifier les méta-données de fichiers audio
Comment[hr]=Uredi metapodatke glazbene datoteke
Comment[hu]=Hangfájlok metaadatainak szerkesztése
Comment[ko]=소리 파일 메타데이터를 편집합니다
Comment[nb]=Rediger metadata i lydfiler
Comment[oc]=Modificar las metadonadas dels fichièrs àudio
Comment[pl]=Modyfikowanie metadanych plików dźwiękowych
Comment[pt]=Editar metadados de ficheiros de áudio
Comment[pt_BR]=Edite metadados de arquivo de áudio
Comment[sr]=Уређујте метаподатке звучних датотека
Comment[sr@latin]=Uređujte metapodatke zvučnih datoteka
Comment[sv]=Redigera metadata för ljudfil
Comment[tr]=Ses dosyası üstverilerini düzenleyin
Comment[zh_TW]=編輯音訊檔案的元數據
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords=mp3;tag;audio;music;
Keywords[bs]=mp3;tag;audio;music;
Keywords[ca]=mp3;etiqueta;àudio;música;
Keywords[cs]=mp3;štítek;tag;audio;zvuk;hudba;skladba;
Keywords[de]=mp3;tag;metainfo;audio;musik;
Keywords[en_GB]=mp3;tag;audio;music;
Keywords[es]=mp3;etiqueta;sonido;música;
Keywords[fr]=mp3;étiquettes;audio,musique;
Keywords[hr]=mp3;oznaka;zvuk;glazba;
Keywords[hu]=mp3;címke;tag;hang;zene;
Keywords[ko]=mp3;tag;태그;audio;오디오;music;음악;
Keywords[nb]=mp3;tagg;lyd;musikk;
Keywords[oc]=mp3;etiquetas;àudio;musica;
Keywords[pl]=mp3;etykieta;znacznik;tag;tagowanie;dźwięk;audio;muzyka;
Keywords[pt]=mp3;etiqueta;áudio;
Keywords[pt_BR]=mp3;tag;etiqueta;áudio;audio;som;música;music;
Keywords[sr]=мп3;ознака;звук;музика;
Keywords[sr@latin]=mp3;oznaka;zvuk;muzika;
Keywords[sv]=mp3;tag;tagg;audio;ljud;music;musik;
Keywords[tr]=mp3;etiket;ses;müzik;
Keywords[zh_TW]=mp3;tag;audio;music;
Type=Application
Icon=org.gnome.EasyTAG
Categories=GTK;AudioVideo;AudioVideoEditing;Audio;
MimeType=inode/directory;audio/x-mp3;audio/x-mpeg;audio/mpeg;application/ogg;audio/x-vorbis+ogg;audio/x-flac;audio/x-musepack;audio/x-ape;audio/x-speex+ogg;audio/x-opus+ogg;
Exec=easytag
Terminal=false
StartupNotify=true
