[Desktop Entry]
Type=Application
Name=Syphon
Icon=org.syphon.Syphon
Exec=/app/bin/syphon %U
Categories=Network;InstantMessaging;Chat;VideoConference;
MimeType=x-scheme-handler/syphon;x-scheme-handler/matrix;
Keywords=Matrix;Chat;Messenger;Social;
