[Desktop Entry]
Type=Application
Name=Cagou (SàT)
Comment=desktop/mobile frontend for Salut à Toi (XMPP)
Exec=sat_wrapper
Icon=org.salutatoi.Cagou
Categories=Network;InstantMessaging;Chat;FileTransfer;RemoteAccess;
Keywords=xmpp;chat;messaging;im;file;sharing;communication;jabber;social;network;decentralization;desktop;
