[Desktop Entry]
Version=1.0
Icon=org.quetoo.Quetoo
Exec=quetoo
Terminal=false
Type=Application
Name=Quetoo
GenericName=A Free, standalone first person shooter video game
Comment=A Free, standalone first person shooter video game
Categories=Game;ActionGame;
Keywords=FPS;Quake;Multiplayer;
X-Desktop-File-Install-Version=0.23
Name[en_US]=Quetoo
