[Desktop Entry]
Version=1.0
Type=Application
Name=Sonic Robo Blast 2 Persona
Comment=A Persona-inspired mod based on the 3D Sonic the Hedgehog fangame Sonic Robo Blast 2
TryExec=srb2persona
Exec=srb2persona
Icon=org.srb2.SRB2Persona
Terminal=false
Categories=Game;
