[Desktop Entry]
Name=Overte
Comment=Open-source social-VR platform.
Exec=Overte
Terminal=false
Type=Application
Icon=Overte
StartupWMClass=Overte
Categories=Game;Network;Qt;
