[Desktop Entry]
Name=Surge XT Effects
Comment=
Type=Application
Exec=Surge-XT-Effects
Terminal=false
Categories=Audio;
Icon=org.surge_synth_team.surge-xt.effects
StartupWMClass=Surge XT Effects