[Desktop Entry]
Name=Fldigi
GenericName=Amateur Radio Digital Modem
Comment=Amateur Radio Sound Card Communications
Exec=fldigi
Icon=org.freedesktop.fldigi
Terminal=false
Type=Application
Categories=Network;HamRadio;
