[Desktop Entry]
Name=bookletimposer
Comment=Impose PDF documents to create booklets
Comment[fr]=Imposer des documents PDF pour créer des brochures
Type=Application
Exec=bookletimposerwrapper.sh
Icon=org.codecoop.kjo.bookletimposer
Categories=Office;
Terminal=false
StartupNotify=false
