[Desktop Entry]
Name=SkyTemple
Comment=ROM Editor for Pokémon Mystery Dungeon Explorers of Sky
Exec=skytemple
Terminal=false
Type=Application
Icon=org.skytemple.SkyTemple
