[Desktop Entry]
Encoding=UTF-8
Name=Joplin
Comment=Joplin for Desktop
Exec=joplin-desktop
Icon=org.joplinapp.Joplin
StartupWMClass=Joplin
Type=Application
Categories=Office;
