[Desktop Entry]
Type=Application
Terminal=false
Name=2009scape
GenericName=2009scape Launcher
Comment=2009scape Launcher is a free, open-source launcher for Runescape 2009 compatible servers
Keywords=games;runescape;2009scape;osrs;saradomin
Exec=2009scape-launcher
Icon=org._2009scape.Launcher
Categories=Game;RolePlaying;
