[Desktop Entry]
Categories=Science;Viewer;DataVisualization;Java
Comment=Visual tool for browsing and editing HDF files
Exec=hdfview %F
GenericName=HDF File Viewer
Icon=org.hdfgroup.HDFView
Keywords=hdf;hdf4;hdf5;scientific;data
MimeType=application/x-hdf;application/x-netcdf;image/fits
Name=HDFView
Terminal=false
TryExec=hdfview
Type=Application
Version=1.0