#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Asteroids Revenge
GenericName=AsteroidsRevenge
Comment=Dodge lasers and battle a crooked spaceship!
Exec=asteroids_revenge.x86_64
Terminal=false
Icon=org.mlm.asteroids_revenge
Type=Application
Categories=Game;ArcadeGame;
Name[en_US]=org.mlm.asteroids_revenge.desktop
