[Desktop Entry]
Version=1.0
Type=Application
Name=Sonic Robo Blast 2 Kart Galaxy
Comment=A kart racing mod based on the 3D Sonic the Hedgehog fangame Sonic Robo Blast 2
TryExec=srb2kart
Exec=srb2kart
Icon=org.srb2.SRB2Kart-galaxy
Terminal=false
Categories=Game;
Actions=OpenGL;Software;

[Desktop Action OpenGL]
Name=OpenGL
Exec=srb2kart -opengl

[Desktop Action Software]
Name=Software
Exec=srb2kart -software
