[Desktop Entry]
Type=Application
Name=Primitivus (SàT)
Comment=console frontend for Salut à Toi (XMPP)
Exec=sat_wrapper
Icon=org.salutatoi.Primitivus
Categories=Network;InstantMessaging;Chat;FileTransfer;RemoteAccess;
Keywords=xmpp;chat;messaging;im;file;sharing;communication;jabber;social;network;decentralization;console;
