[Desktop Entry]
Name=Free Download Manager
Comment=Powerful download accelerator and organizer
Exec=fdm %u
Icon=org.freedownloadmanager.fdm
Terminal=false
Type=Application
Categories=Network;FileTransfer;Utility;
MimeType=x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
