[Desktop Entry]
Version=1.0
Name=Reading App Builder
Comment=Build customized Reading apps for Android smartphones and tablets
Exec=/app/bin/rab-run.sh %u
Icon=org.sil.reading-app-builder
Terminal=false
Type=Application
Categories=Development;
StartupWMClass=reading-app-builder
StartupNotify=true
