[Desktop Entry]
Type=Application
Name=Terratactician Expandoria
Comment=Hexagon based logic game
Exec=terratactician-expandoria
Icon=page.codeberg.terratactician_expandoria.game
Terminal=false
Categories=Game;
