[Desktop Entry]
Name=Pairinteraction
Comment=A Rydberg Interaction Calculator
GenericName=Pairinteraction
Exec=start_pairinteraction_gui %U
Icon=org.pairinteraction.Pairinteraction
Type=Application
StartupNotify=true
Categories=Science;
