[Desktop Entry]
Name=Penpot Desktop
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=penpot-desktop
StartupWMClass=Penpot Desktop
X-AppImage-Version=0.2.34
Comment=A Desktop-Like Experience
Categories=Graphics;
X-Desktop-File-Install-Version=0.26
