[Desktop Entry]
Type=Application
Name=Pulsar
Comment=Download, convert and compress media
Exec=Pulsar
Icon=pl.fuzjajadrowa.pulsar
Terminal=false
Categories=AudioVideo;Network;Utility;
Keywords=video;audio;download;convert;compress;ffmpeg;yt-dlp;
StartupNotify=true