[Desktop Entry]
Type=Application
Name=KsefInvoice
Comment=Darmowy program do faktur z pełną integracją KSeF
Exec=ksef_wrapper.sh
Icon=pl.ksefinvoice.app
Categories=Office;Finance;
Terminal=false
StartupNotify=true
