cffi==1.16.0; python_version >= "3.9" and python_version < "3.12"
packaging==23.2; python_version >= "3.9" and python_version < "3.12"
setuptools-rust==1.8.1; python_version >= "3.9" and python_version < "3.12"
