[Desktop Entry]
Version=1.0
Type=Application
Name=AFFiNE
Comment=Productivity and note-taking app
Exec=start-affine.sh %U
Icon=pro.affine.AFFiNE
Terminal=false
Categories=Office
