[Desktop Entry]
Version=1.0
Name=Virtual Puppet Project
Comment=Live VTuber model renderer, written in Godot
Exec=vpuppr.x86_64 %U
Terminal=false
Icon=pro.vpup.vpuppr
Type=Application
#Actions=new-window;

#[Desktop Action new-window]
#Name=Open New Window
#Exec=/app/bin/OpenSeeFaceGD.x86_64
# CURRENTLY DISABLED because it does not interact well with how the app starts.
