[Desktop Entry]
Version=1.1
Type=Application
Name=OpenFreebuds
GenericName=Headphones manager
GenericName[ru]=Управление наушниками
Comment=Open-source client app for HUAWEI FreeBuds earphones (Flatpak)
Comment[ru]=Open-source клиент для устройств HUAWEI FreeBuds (Flatpak)
Icon=pw.mmk.OpenFreebuds
Exec=openfreebuds_qt
Actions=
Terminal=false
Categories=Settings;HardwareSettings;
Keywords=huawei;headphones;headset;earphones;
