[Desktop Entry]
Type=Application
Version=1.0
Name=Red Eclipse
GenericName=First-person shooter game
GenericName[es]=Juego de tiros en primera persona
GenericName[gl]=Xogo de tiros en primeira persoa
GenericName[it]=Sparatutto in prima persona
GenericName[pt]=Jogo de tiros em primeira pessoa
GenericName[sv]=Förstapersonsskjutare
GenericName[fr]=Jeu de tir à la première personne
Comment=First-person shooter with agile gameplay and built-in editor
Comment[de]=Ego-Shooter-Spiel mit agilem Gameplay und integriertem Editor
Comment[es]=Juego de tiros en primera persona con jugabilidad ágil y editor incorporado
Comment[gl]=Xogo de tiros en primeira persoa con xogo áxil e editor incorporado
Comment[it]=Sparatutto in prima persona con agile gameplay ed editor incorporato
Comment[pt]=Jogo de tiros em primeira pessoa com jogabilidade ágil e editor incorporado
Comment[sv]=Förstapersonsskjutare med rörlig spelstil och inbyggd baneditor
Comment[fr]=Jeu de tir à la première personne avec un éditeur de cartes intégré
Icon=redeclipse
Exec=redeclipse
Categories=Game;ActionGame;
Keywords=fps;action;multiplayer;play;arena;mapeditor;
