beautifulsoup4==4.12.3
GitPython==3.1.43
imageio==2.35.1
loguru==0.7.2
lxml==5.3.0
msgspec==0.18.6
natsort==8.4.0
networkx==3.3
platformdirs==4.3.6
psutil==6.0.0
PyGithub==2.3.0
pyperclip==1.9.0
requests==2.32.3
steam==1.4.4
toposort==1.10
watchdog==5.0.3
xmltodict==0.13.0
