[Desktop Entry]
Name=Insomnia
Exec=Insomnia
Type=Application
Icon=rest.getinsomnia.Insomnia.png
Categories=Development;WebDevelopment
Name[en_US]=rest.getinsomnia.Insomnia.desktop
