[Desktop Entry]
Name=Ri-li
Comment=Drive a toy wood engine
Exec=Ri_li
Icon=Ri-li
Terminal=false
StartupNotify=false
Type=Application
Categories=Game;ArcadeGame;Simulation;
Keywords=game;train;toy;wood;engine;switches;kids;
