[Desktop Entry]
Type=Application
Name=Root
X-AppImage-Version=0.9.106
Comment=Root 0.9.106
Icon=Root
Exec=Root
StartupWMClass=Root
Categories=Utility;