[Desktop Entry]
Categories=Network;WebBrowser;
Comment=A Bible app written with Tauri
Exec=rosary
Icon=org.bible.Rosary
Name=Rosary
Terminal=false
Type=Application
X-Purism-FormFactor=Workstation;Mobile;
