[Desktop Entry]
Type=Application
Name=rRootage
GenericName=rrootage
Comment=Destroy autocreated battleships
Comment[de]=Zerstöre automatisch erschaffene Schlachtschiffe
Comment[es]=Destruye naves de combate creadas automaticamente
Comment[fr]=Détruisez les vaisseaux spatiaux créés automatiquement
Comment[pt]=Destrua naves de combate criadas automaticamente
Icon=rrootage
Exec=rrootage
Terminal=false
Categories=Game;ArcadeGame;
Keywords=battleships;arcade;shmup;shootemup;
