[Desktop Entry]
Categories=Game
Comment[en_US]=Software for playing Microsoft Windows games and launchers
Comment=Software for playing Microsoft Windows games and launchers
Exec=portproton %u
Icon=ru.linux_gaming.PortProton
MimeType=application/x-wine-extension-msp;application/x-msi;application/x-ms-dos-executable;
Name[en_US]=PortProton
Name=PortProton
Type=Application

