[Desktop Entry]
Type=Application
Version=1.4
Name=osu!
Icon=sh.ppy.osu
MimeType=application/x-osu-beatmap;application/x-osu-beatmap-archive;application/x-osu-skin-archive;application/x-rar;x-scheme-handler/osu
Comment=A free-to-win rhythm game. Rhythm is just a *click* away!
Exec=osu-lazer %F
Terminal=false
Categories=Game;
Keywords=circles;beat;
Keywords[ru]=осу;кружочки;
StartupWMClass=osu!
StartupNotify=true
