[Desktop Entry]
Type=Application
Name=Opentapes
Comment=A convergent/adaptive app for streaming Hip-Hop mixtapes. Made with Vue.js & Tauri.
Exec=opentapes
Icon=opentapes
Terminal=false
Categories=AudioVideo;Audio;Music;
Keywords=stream;music;mixtape;player;rap;trap;rnb;hiphop;
X-Purism-FormFactor=Workstation;Mobile;
