[Desktop Entry]
Type=Application
Name=OneKey Wallet
Comment=Multi-chain desktop crypto wallet
Exec=onekey-wallet %U
Icon=so.onekey.wallet.desktop
Terminal=false
Categories=Finance;Utility;
StartupWMClass=onekey-wallet
X-Flatpak=so.onekey.wallet.desktop
