[Desktop Entry]
Type=Application
Name=OneKey Wallet
Comment=All-in-one crypto wallet with hardware support
Exec=onekey-wallet %U
Icon=so.onekey.wallet
Terminal=false
Categories=Finance;Utility;
StartupWMClass=onekey-wallet
X-Flatpak=so.onekey.wallet
