[Desktop Entry]
Name=Sonne Web App
Comment=Program that transform a web site into an app
Exec=app/bin/run.sh
Icon=com.ilnonop.sonnewebapp
Terminal=false
Type=Application
Categories=Utility;
