[Desktop Entry]
Type=Application
Name=Gaia Sky
Comment=Explore the Universe in 3D
Exec=gaiasky
Icon=space.gaiasky.GaiaSky
Terminal=false
Categories=Science;Education;
Keywords=space;planets;explore;milky
