<?xml version="1.0" encoding="UTF-8"?>
<component type="desktop">
 <id>springlobby.desktop</id>
 <metadata_license>GFDL-1.3</metadata_license>
 <project_license>GPL-2.0+</project_license>
 <project_group>SPRINGRTS</project_group>
 <name>Springlobby</name>
 <summary>Play online RTS games with the Spring engine</summary>
 <releases>
  <release version="0.270" date="2020-06-19" />
 </releases>
 <description>
  <p>
    Springlobby is a windowed client that allows you to download and play
    a wide variety of games using the Spring engine, a popular RTS game engine.
    Using this program, you can connect to one of dozens of free 24x7
    battleroom servers on the internet that are accessible from our master server.
  </p>
  <p>
    You'll need to download the spring RTS engine and supply lobby with
    its installation path.
    After that, springlobby will let you create an account and you're set to go!
  </p>
  <p>Popular games that use the spring engine are:</p>
  <ul>
   <li>Balanced Annihilation</li>
   <li>Tech Annihilation</li>
   <li>Zero-K</li>
   <li>Evolution RTS</li>
   <li>Spring:1944</li>
   <li>NOTA</li>
   <li>XTA</li>
   <li>Lots more developed regularly!</li>
  </ul>
  <p>The springlobby home page can be found at https://springlobby.springrts.com/ or you can visit our project page
       on github at https://github.com/springlobby/springlobby/.</p>
  <p>You can find out more about the spring engine and its games at https://springrts.com/.</p>
 </description>
 <screenshots>
  <screenshot type="default">
    <image width="1920" height="1056">https://springlobby.springrts.com/screenshots/01.png</image>
    <caption>The connect window</caption>
  </screenshot>
  <screenshot>
    <image width="1920" height="1056">https://springlobby.springrts.com/screenshots/02.png</image>
    <caption>Singleplayer</caption>
  </screenshot>
 </screenshots>
 <url type="homepage">https://springlobby.springrts.com/</url>
 <url type="bugtracker">https://github.com/springlobby/springlobby/issues</url>
 <url type="help">https://github.com/springlobby/springlobby/wiki</url>
 <provides>
  <binary>springlobby</binary>
 </provides>
 <content_rating type="oars-1.0">
   <content_attribute id="violence-cartoon">moderate</content_attribute>
   <content_attribute id="violence-fantasy">moderate</content_attribute>
   <content_attribute id="violence-realistic">moderate</content_attribute>
   <content_attribute id="language-humor">mild</content_attribute>
   <content_attribute id="social-chat">intense</content_attribute>
   <content_attribute id="social-info">mild</content_attribute>
 </content_rating>
</component>
