[Desktop Entry]
Name=Stone Kingdoms
Comment=Open source Stronghold fan remake
Exec=stone-kingdoms
Icon=io.gitlab.stone_kingdoms.StoneKingdoms
Terminal=false
Type=Application
Categories=Game;StrategyGame;
Keywords=RTS;Stronghold;Castle;
