[Desktop Entry]
Name=Surfshark
Exec=surfshark %U
Terminal=false
Type=Application
Icon=surfshark
StartupWMClass=Surfshark
X-GNOME-UsesNotifications=true
Comment=Keep your online activity and personal information secure. Put your privacy-conscious mind at rest and enjoy unrestricted internet.
MimeType=x-scheme-handler/surfshark;
Categories=Utility;
