[Desktop Entry]
Name=Talanoa
Exec=talanoa
GenericName=Talanoa Client for Linux
Icon=email.talanoa.Talanoa
Type=Application
StartupNotify=true
Categories=Network;Email;