[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=KeyForge Master
Comment=Customize your KeyForge devices
Categories=Settings;HardwareSettings;
Icon=tech.keyforge.keyforge_master
Exec=run.sh
