
#!/usr/bin/env xdg-open
[Desktop Entry]
Name=QR-ScanGen
Exec=qr-scangen
Comment=QR-code scanner & generator
Terminal=false
Icon=tech.emendir.QR-ScanGen
Type=Application
Categories=Utility
