[Desktop Entry]
Name=ThinkerCAD Dekstop
Exec=AppRun --no-sandbox %U
Terminal=false
Type=Application
Icon=thinkercad
StartupWMClass=ThinkerCAD
X-AppImage-Version=0.3.2
GenericName=Internet Messenger
Categories=Network;
Keywords=discord;vencord;electron;chat;
