[Desktop Entry]
Name=Todoist
Exec=todoist
Terminal=false
Type=Application
Icon=com.todoist.Todoist
StartupWMClass=Todoist
Comment=The Best To-Do List App & Task Manager
Categories=Office;
