[Desktop Entry]
Version=1.0
Name=Watermelon
GenericName=Demo Watermelon Application
Comment=A simple Flatpak demo app
Exec=watermelon %U
Icon=top.chidao0000.Watermelon
Terminal=false
Type=Application
Categories=Utility;Development;
MimeType=application/sql;
