[Desktop Entry]
Name=TuxPuck
Comment=Play Shufflepuck with Tux
Comment[de]=Spiele Shufflepuck mit Tux
Comment[ca]=Jugueu al Shufflepuck amb en Tux
Exec=tuxpuck
Icon=tuxpuck
Terminal=false
Type=Application
StartupNotify=false
Categories=Game;SportsGame;
Keywords=tux;puck;cafe;shufflepuck;arcana;
