[Desktop Entry]
Type=Application
Name=Plex HTPC
Comment=Plex HTPC client for the big screen
Exec=Plex
Icon=tv.plex.PlexHTPC
Terminal=false
Categories=AudioVideo;Player;X-Media;
X-Flatpak=tv.plex.PlexHTPC
