[Desktop Entry]
Name=PCem
GenericName=Classic PC emulator
Comment=An emulator for classic IBM PC clones
Exec=pcem-run
Icon=uk.co.pcem_emulator.pcem
Terminal=false
Type=Application
Categories=System;Emulator;
