[Desktop Entry]
Name=Amazfish
Comment=Companion application for your smartwatch
GenericName=amazfish
Exec=run-amazfish.sh
Terminal=false
Type=Application
Icon=uk.co.piggz.amazfish
StartupNotify=true
Categories=Sports;Utility
