[Desktop Entry]
Name=SmallTextPad
Comment=Small Java Text Editor
Exec=run_smalltextpad.sh
Icon=uk.co.wagemaker.SmallTextPad
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Utility;
