[Desktop Entry]
Version=1.1
Type=Application
Name=wxBriscola
Comment=Simulatore della briscola a 2 giocatori
Icon=/usr/share/icons/wxBriscola.ico
Exec=/usr/bin/wxbriscola
Actions=
Categories=CardGame;Game;
