#!/usr/bin/env xdg-open
[Desktop Entry]
Name=FontraPak
Comment=Browser based Cross Platform Variable First Font Editor
Terminal=false
Type=Application
Categories=Development;
Keywords=fonteditor;graphics;
StartupNotify=true
Icon=xyz.fontra.FontraPak
Exec=fontrapak %U
