[Desktop Entry]
Type=Application
Name=Zen App Manager
Comment=Manage your startup applications
Exec=/home/zen/devzone/ZEN/zen-app-manager/src-tauri/target/release/zen-app-manager
Icon=/home/zen/devzone/ZEN/zen-app-manager/src-tauri/icons/128x128.png
Terminal=false
Categories=Utility;System;
