[Desktop Entry]
Name=KeyGuard
Comment=Gerenciador seguro de senhas
Exec=keyguard
Icon=org.keyguard.KeyGuard
Terminal=false
Type=Application
Categories=Utility;Security;
StartupNotify=true
