# Fallback on Flathub admins for unowned shared modules
*                  @flathub/reviewers

update-checker.sh  @flathub/reviewers
.github/ @flathub/reviewers

/dbus-glib/        @TingPing
/clutter/          @A6GibKm
/gtk2/             @TingPing
/intltool/         @TingPing
/libappindicator/  @TingPing
/libcanberra/      @hadess
/libusb/           @A6GibKm
/physfs/           @Mailaender
/python2.7/        @bilelmoussaoui
/linux-audio/      @hfiguiere
/libsoup/          @hfiguiere
/mac/              @enzo1982
/luajit/           @ranisalt
/lzo/              @AKoskovich
/squashfs-tools/   @AKoskovich
/libayatana-appindicator/  @AKoskovich
/SDL2/             @tothxa
