[Desktop Entry]
Name=ULAK
Comment=Yerel ağ dosya paylaşım uygulaması
Exec=ulak
Icon=com.ulak.desktop
Terminal=false
Type=Application
Categories=Network;FileTransfer;
