[Desktop Entry]
Name=PHPRunnnnner
GenericName=PHP Code Runner
Comment=Run and tinker with PHP code interactively
Exec=phprunnnnner %U
Icon=io.github.tomexsans.PHPRunnnnner
Terminal=false
Type=Application
Categories=Development;IDE;
Keywords=php;tinker;runner;code;developer;
StartupNotify=true
StartupWMClass=phprunnnnner
