[Desktop Entry]
Type=Application
Name=Add Xilinx Design Tools or Devices
Exec=/app/bin/xsetup
Icon=system-software-install
Categories=Development
StartupWMClass=xsetup
