[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Manage Xilinx Licenses 2020.2
Exec=/app/bin/com.xilinx.Vivado.Licenses
Icon=com.xilinx.Vivado.Licenses
Categories=Development
