[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Xilinx Software Command Line Tool 2020.2
Exec=/app/bin/xsct
Icon=utilities-terminal
Categories=Development
