[Desktop Entry]
Type=Application
Name=Xilinx Vitis HLS
Exec=/app/bin/vitis_hls
Icon=com.github.corna.Vivado.HLS
Categories=Development;IDE
StartupWMClass=autopilot
