[Desktop Entry]
Type=Application
Name=Xilinx Documentation Navigator
Exec=/app/bin/docnav
Icon=com.github.corna.Vivado.DocNav
Categories=Development
Keywords=DocNav;
StartupWMClass=docnav
