[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Xilinx Vivado 2020.2
Exec=/app/bin/vivado
Icon=com.xilinx.Vivado
Categories=Development;IDE;
MimeType=application/x-vivado-project;
