[Desktop Entry]
Type=Application
Name=Xilinx Vivado Tcl shell
Exec=/app/bin/st -t "Xilinx Vivado" /app/bin/vivado -mode tcl
Icon=utilities-terminal
Categories=Development;IDE;
