[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Add Xilinx Design Tools or Devices 2020.2
Exec=/app/bin/com.xilinx.Vivado.Installer
Icon=com.xilinx.Vivado.Installer
Categories=Development
