[Desktop Entry]
Type=Application
Name=inner_breeze
Comment=Guided breathing meditation app to help you relax and focus.
Exec=AppRun
Icon=io.naox.InnerBreeze.png
Terminal=false
Version=1.0
Categories=Utility;Education;
Keywords=Meditation;Breathing;Relaxation;Focus;Wellness;
StartupNotify=true
