[Desktop Entry]
Type=Application
Name=Connected
Comment=High-speed, offline, cross-platform ecosystem bridging devices
Exec=connected-desktop
Icon=com.paterkleomenis.Connected
Terminal=false
Categories=Utility;Network;FileTransfer;
Keywords=transfer;share;file;network;
X-Flatpak=com.paterkleomenis.Connected
