[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Sudoku
Comment=Sudoku Puzzle
Exec=sudoku-puzzle
Icon=org.gnome.Sudoku-Puzzle
Terminal=false
Name[en_US]=org.gnome.Sudoku-Puzzle
