[Desktop Entry]
Name=Media Catcher
Comment=Download audio and video from various websites
Comment[sk]=Sťahovanie audio a videa z rôznych webových stránok
Exec=media-catcher
Icon=com.yourname.MediaCatcher
Type=Application
Categories=AudioVideo;Network;
Keywords=youtube;download;video;audio;media;
StartupNotify=true
MimeType=x-scheme-handler/http;x-scheme-handler/https;
