[Desktop Entry]
Type=Application
Name=Mosca Tee
Comment=Editor gráfico profissional, gratuito e acessível
Exec=moscatee
Icon=com.moscatee.Editor
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;
Keywords=design;graphics;editor;drawing;accessibility;
StartupNotify=true
MimeType=image/png;image/jpeg;image/tiff;application/pdf;
X-Flatpak=com.moscatee.Editor
