<%inherit file="/base.tmpl"/>
<%block name="info">
    ${formatter.format_xref(node.parent, type="guide", group=page_kind)}
    <title type="link" role="topic">${node.name}</title>
</%block>
<%block name="synopsis">
  <synopsis><code mime="text/x-gjs">
${node.parent.name}.${formatter.to_underscores(node)}: ${formatter.format_type(node.type, True)} (${formatter.format_property_flags(node)})
  </code></synopsis></%block>
