[Desktop Entry]
Name=Batch Pdf Metadata Editor
Comment=Simple Editor for PDF metadata (Batch Mode)
Exec="/app/bin/Batch Pdf Metadata Editor"
Icon=me.brokenby.PdfMetadataEditor
Terminal=false
Type=Application
Categories=Utility
MimeType=
