[Desktop Entry]
Name=Space Station 14
Comment=Multiplayer disaster simulator
Exec=/app/ss14/bin/SS14.Launcher
Icon=com.spacestation14.Launcher
Type=Application
Categories=Game;
Keywords=ss14;
StartupNotify=true
Terminal=false
