[Desktop Entry]
Name=Chess Journal
Comment=Your gamebook for chess
Exec=chess-journal
Icon=io.github.sazardev.chessjournal
Type=Application
Categories=Education;Game;
StartupWMClass=Chess-Journal
Terminal=false
