[Desktop Entry]
Name=Towdow
Comment=Simple to-do for you. Powerful workflows for your team.
Exec=towdow_app
Icon=app.towdow.TowDow
Terminal=false
Type=Application
Categories=Utility
Keywords=todo;tasks;workflow;kanban;
StartupWMClass=Towdow
