[Desktop Entry]
Type=Application
Name=BIT RIP
Comment=Arcade retro by MetalCubeBit (GDevelop)
Exec=bitrip
Icon=com.metalcubebit.bitrip
Categories=Game;
