[Desktop Entry]
Type=Application
Name=Penguin Citizen
GenericName=Star Citizen Launch Manager
GenericName[de]=Star-Citizen-Launcher
Comment=Manage and launch Star Citizen on Linux via Wine and Proton
Comment[de]=Star Citizen unter Linux über Wine und Proton verwalten und starten
Exec=penguin-citizen
Icon=de.penguincitizen.penguincitizen
Terminal=false
Categories=Utility;Game;
StartupNotify=true
StartupWMClass=penguin-citizen
Keywords=star citizen;wine;proton;launcher;rsi;
