[Desktop Entry]
Name=Plexamp
Exec=startplexamp
Terminal=false
Type=Application
Icon=tv.plex.Plexamp
StartupWMClass=plexamp
Comment=The best little audio player on the planet
Categories=AudioVideo;