[Desktop Entry]
Version=1.0
Type=Application
Name=Zippy
Comment=Professional Folder Compression Tool
Exec=python3 /app/bin/main.py
Icon=com.fktyazilim.Zippy
Categories=Utility;Archiving;
StartupNotify=true
