[Desktop Entry]
Name=Space Station 14
Exec=wrapper.sh
Icon=com.spacestation14.Launcher
Type=Application
Categories=Game;
Comment=A sci-fi disaster simulator and role-playing game
Keywords=ss14;
StartupNotify=true
Terminal=false
