[Desktop Entry]
Name=Boop-GTK
Comment=Port of IvanMathy's Boop to GTK, a scriptable scratchpad for developers.
Type=Application
Exec=boop-gtk
Terminal=false
Categories=Utility;GTK;
Keywords=Rust;Flatpak;GTK;Tools;
Icon=uk.co.mrbenshef.Boop-GTK.png
StartupNotify=true