[Desktop Entry]
Type=Application
Name=LightTable
Comment=Photo editing and film simulation
Exec=lighttable-desktop %u
Icon=app.lighttable.LightTable
Terminal=false
StartupNotify=true
StartupWMClass=app.lighttable.LightTable
Categories=Graphics;Photography;
MimeType=x-scheme-handler/lighttable;
