[Desktop Entry]
Categories=Office;Utility;
Comment[en_US]=Shared notes, tasks and reminders
Comment=Shared notes, tasks and reminders
Exec=Flavedo
GenericName[en_US]=
GenericName=
Icon=space.flavedo.Flavedo
MimeType=
Name[en_US]=Flavedo
Name=Flavedo
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
