[Desktop Entry]
Name=Adobe Reader 9
Comment=View multi-page PDF documents
Keywords=pdf;document;viewer;
MimeType=application/pdf;application/vnd.fdf;application/vnd.adobe.xfdf;application/vnd.adobe.pdx;application/vnd.adobe.xdp+xml;
Exec=/app/bin/acroread %F 
Type=Application
GenericName=PDF Viewer
Terminal=false
Icon=AdobeReader9
Categories=Office;Viewer;
