[Desktop Entry]
Categories=Utility;Network;
Comment=A Clash Proxy Fronted based on Clash
Exec=clashcross %U
GenericName=ClashCross
Icon=com.clashcross.clashcross
Name=ClashCross
StartupNotify=true
Type=Application
X-Deepin-Vendor=ClashCross
