[Desktop Entry]
Categories=Utility;Network;
Comment=A Clash Proxy Fronted based on Clash For Linux
Exec=clashcross %U
Icon=com.clashcross.clashcross
Name=ClashCross
StartupNotify=true
Type=Application
