[Desktop Entry]
Type=Application
Name=RetroShine
GenericName=Image Batch Processing Tool
Exec=RetroShine
Comment=Restore your old photos with one click
Icon=eu.retroshine.RetroShine
Categories=Graphics;
Keywords=photo;image;color;correction;enhancement;auto;scan;retro;film;
StartupNotify=true
Terminal=false
