[Desktop Entry]
Version=1.0
Type=Application

Name=OpenAndroidInstaller
Comment= Makes installing alternative Android distributions nice and easy. 
Categories=Utility;FileTools;

Icon=org.openandroidinstaller.OpenAndroidInstaller
Exec=openandroidinstaller
Terminal=false
