[Desktop Entry]
Name=csven
Comment=Esta es una aplicacion para aprender palabras en ingles jugando hasta completar la palabra como en un rompe cabeza.
Exec=csven
Icon=io.github.rsvzz.csven.png
Terminal=false
Type=Application
Categories=Education;
StartupNotify=true
