[Desktop Entry]
Name=Undina
Comment=Juego educativo creado por wern
Exec=undina.sh
Icon=org.fundacionzt.undina
Terminal=false
Type=Application
Categories=Education;
