[Desktop Entry]
Type=Application
Name=RevPDF Editor
GenericName=PDF Editor
Comment=Edit. Annotate. Export. Privately.
Exec=revpdf_editor %f
Icon=com.revpdf.editor
Categories=Office;Viewer;
MimeType=application/pdf;
Keywords=pdf;editor;annotate;sign;redact;
Terminal=false
StartupWMClass=revpdf_editor
