[Desktop Entry]
Name=RustZap
Comment=Cliente WhatsApp não oficial para Linux
Exec=rustzap
Icon=br.com.erlondnjr.rustzap
Terminal=false
Type=Application
Categories=Network;InstantMessaging;