[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=AirSQLiteManager
Comment=Manage your SQLite databases with ease. This tool allows you to browse tables, edit rows...
Exec=AirSQLiteManager
Icon=com.gesturedevelop.AirSQLiteManager
Terminal=false
