.flow-box {
	margin: 24px;
}

.timer-entry {
	font-size: 56px;
}

.preset-lbl {
	padding: 8px;
	margin: 0;
}

.control-btn {
	border-radius: 12px;
	padding: 6px 20px;
	margin: 16px 24px;
}

.entry {
	background-color: transparent;
}

.sc-label {
	font-size: 32px;
	color: #999;
}
