<%! page_type="guide" %>\
<%inherit file="/base.tmpl"/>
<%block name="doc"></%block>
<%block name="info"></%block>
<%block name="links">
  <links type="topic" ui:expanded="true" groups="class interface" style="linklist">
    <title>Classes</title>
  </links>
  <links type="topic" ui:expanded="true" groups="function" style="linklist">
    <title>Functions</title>
  </links>
  <links type="topic" ui:expanded="true" groups="#first #default #last" style="linklist">
    <title>Other</title>
  </links>
</%block>
<%block name="since_version"></%block>
