[Desktop Entry]
Name=Framestop
Comment=Freeze frame tool that auto selects the best frame
Exec=/app/bin/framestop
Icon=io.github.Abstract_AA.Framestop.svg
Terminal=false
Type=Application
Categories=Utility;Video;
