[Desktop Entry]
Name=Nexus Storage
Exec=nexus
Terminal=false
Type=Application
Icon=com.aurel.Nexus
Categories=Utility;
Comment=Cross-platform storage management tool
