[Desktop Entry]
Name=Work Log
Comment=Track your work sessions
Exec=worklog-desktop
Icon=work.worklog.desktop
Type=Application
Terminal=false
Categories=Office;ProjectManagement;
Keywords=work;log;time;tracking;session;
