[Desktop Entry]
Name=Savvy MTG Life Counter
Comment=Life counter and companion app for Magic: The Gathering
Exec=savvy-mtg-life-counter %U
Icon=com.savvyworker.lifecounter
Terminal=false
Type=Application
Categories=Game;
StartupWMClass=Savvy MTG Life Counter
