name: CI

on:
  push:
    branches: master
    paths:
      - '**.py'
  pull_request:
    branches: master
    paths:
      - '**.py'
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
        # 4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false

        # 5.4.0
      - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Install dependencies
        run: pip install --user 'ruff==0.11.0'

      - name: Check format
        run: find .github -name *.py -exec ruff format --check {} \;

      - name: Lint
        run: find .github -name *.py -exec ruff check --output-format=github {} \;
