name: 'Check if external data changed across Flathub org'
on:
  schedule:
    - cron: '0 */4 * * *'

  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

jobs:
  flathub-data-checker-global:
    runs-on: ubuntu-latest
    timeout-minutes: 120
    steps:
        # 4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
        with:
          persist-credentials: false

      - uses: ./.github/actions/flatpak-external-data-checker
        env:
          GITHUB_TOKEN: ${{ secrets.FLATHUBBOT_TOKEN }}
