name: Flatpak

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  flatpak:
    name: "Flatpak"
    runs-on: ubuntu-latest
    container:
      image: bilelmoussaoui/flatpak-github-actions:kde-5.15-22.08
      options: --privileged
    steps:
    - uses: actions/checkout@v3
    - uses: flatpak/flatpak-github-actions/flatpak-builder@v6
      with:
        bundle: pairinteraction.flatpak
        manifest-path: org.pairinteraction.Pairinteraction.yaml
        run-tests: true
