name: Flatpak

on: [push]

env:
  FLATPAK_ID: com.valvesoftware.Steam.CompatibilityTool.Proton
  IMAGE_NAME: proton
  IMAGE_TAG: latest
  DOCKERHUB_USER: ${{ github.repository_owner }}
  DOCKERHUB_REPO: ${{ github.repository_owner }}/proton-flatpak
  FP_BUNDLE: proton-flatpak-oci-${{ github.run_id }}
  FP_BRANCH: stable
  FP_BUILD_DIR: build-dir
  FP_BUILD_REPO: build-repo

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install flatpak-builder
      run: |
        set -e
        sudo add-apt-repository -y ppa:alexlarsson/flatpak
        sudo apt update -y
        sudo apt install -y flatpak-builder

    - name: Dump canonical manifest
      run: |
        set -e
        flatpak-builder --show-manifest ${FLATPAK_ID}.yml > canonical-manifest.json

    - name: Download flatpak SDK and sources
      run: |
        set -e
        flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
        flatpak-builder --install-deps-from=flathub --install-deps-only --user /dev/null ${FLATPAK_ID}.yml
        flatpak-builder --download-only /dev/null ${FLATPAK_ID}.yml

    - name: Prime cache
      uses: actions/cache@v2
      with:
        path: |
          .flatpak-builder/ccache
        key: flatpak-builder-${{ hashFiles('canonical-manifest.json') }}
        restore-keys: |
          flatpak-builder-

    - name: Build flatpak
      run: |
        set -e
        flatpak-builder --disable-updates --disable-download --ccache --sandbox ${FP_BUILD_DIR} ${FLATPAK_ID}.yml

    - name: Create OCI bundle
      run: |
        set -e
        ostree --repo=${FP_BUILD_REPO} init --mode=bare-user
        flatpak-builder --export-only --repo=${FP_BUILD_REPO} ${FP_BUILD_DIR} ${FLATPAK_ID}.yml
        flatpak build-bundle \
          --oci \
          --runtime-repo=https://flathub.org/repo/flathub.flatpakrepo \
          --runtime \
          ${FP_BUILD_REPO} ${FP_BUNDLE} ${FLATPAK_ID} ${FP_BRANCH}

    - name: Upload bundle
      uses: actions/upload-artifact@v1
      with:
        name: ${{ env.FP_BUNDLE }}
        path: ${{ env.FP_BUNDLE }}

  publish:
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    needs: build

    steps:
    - uses: actions/checkout@v2

    - name: Install libcontainers tools
      run: |
        set -e
        . /etc/os-release
        sudo sh -c "echo 'deb https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_${VERSION_ID}/ /' > /etc/apt/sources.list.d/devel:kubic:libcontainers:stable.list"
        curl -L https://download.opensuse.org/repositories/devel:/kubic:/libcontainers:/stable/xUbuntu_${VERSION_ID}/Release.key | sudo apt-key add -
        sudo apt update -y
        sudo apt install -y skopeo
    
    - name: Download bundle
      uses: actions/download-artifact@v1
      with:
        name: ${{ env.FP_BUNDLE }}

    - name: Publish OCI image
      run: |
        set -e
        skopeo copy \
          --dest-creds ${DOCKERHUB_USER}:${{ secrets.DOCKERHUB_TOKEN }} \
          oci:${FP_BUNDLE} \
          docker://docker.io/$DOCKERHUB_REPO:$IMAGE_TAG
