on: 
  issue_comment:
    types: [created]
name: Automatic application merge
jobs:
  merge:
    name: Merge
    runs-on: ubuntu-latest
    steps:
    - name: Merge application
      uses: flathub/actions/merge@master
      env:
        GITHUB_TOKEN: ${{ secrets.FLATHUBBOT_TOKEN }}
