name: Automatic application merge

on: 
  issue_comment:
    types:
      - created
  workflow_dispatch:

jobs:
  merge:
    runs-on: ubuntu-latest
    if: ${{ github.event.issue.pull_request && contains(github.event.comment.body, '/merge') }}
    container:
      image: ghcr.io/flathub/actions/merge:latest
    steps:
      - name: Check if actor is reviewer
        run: |
          if gh api /orgs/"${{ github.repository_owner }}"/teams/reviewers/memberships/"${{ github.actor }}" --silent; then
            echo "IS_REVIEWER=true" >> "$GITHUB_ENV"
          else
            echo "IS_REVIEWER=false" >> "$GITHUB_ENV"
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.FLATHUBBOT_TOKEN }}

      - run: /app/entrypoint.py
        if: env.IS_REVIEWER == 'true'
        env:
          GITHUB_TOKEN: ${{ secrets.FLATHUBBOT_TOKEN }}
