name: OSV-Scanner

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: 21 8 * * 1
  workflow_dispatch: {}

permissions:
  actions: read
  contents: read
  security-events: write

jobs:
  scan-scheduled:
    name: OSV scan scheduled

    if: github.event_name == 'push' || github.event_name == 'schedule' || github.event_name == 'workflow_dispatch'
    uses: google/osv-scanner-action/.github/workflows/osv-scanner-reusable.yml@764c91816374ff2d8fc2095dab36eecd42d61638 # v1.9.2
    with:
      scan-args: |-
        -r
        --skip-git
        ./

  scan-pr:
    name: OSV scan PR

    if: github.event_name == 'pull_request' || github.event_name == 'merge_group'
    uses: google/osv-scanner-action/.github/workflows/osv-scanner-reusable-pr.yml@764c91816374ff2d8fc2095dab36eecd42d61638 # v1.9.2
    with:
      scan-args: |-
        -r
        --skip-git
        ./
